@font-face {
  font-family: 'Fira Code';
  src: url('/resources/FiraCode-Light.woff2') format('woff2'),
    url("/resources/FiraCode-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Code';
  src: url('/resources/FiraCode-Regular.woff2') format('woff2'),
    url("/resources/FiraCode-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Code';
  src: url('/resources/FiraCode-SemiBold.woff2') format('woff2'),
    url("/resources/FiraCode-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	font-style: bold;
	font-weight: 600;
	src: url('/resources/raleway-extrabold.woff') format('woff');
}

:root {
	--main-bg-color: rgb(248, 248, 248);
	--light-bg-color: rgb(252,252,252);
	--primary-color: black;
	--primary-light-color: #777;
	--secondary-color: white;
	--content-max-width: 80ch;
	--main-fontfamily: 'Fira Code', monospace, monospace;
}

/** BASE **/
html, body {
	height: 100%;
}
body {
	font-display: fallback;
	font-family: var(--main-fontfamily);
	line-height: 1.6rem;
	font-size: 1rem;
	padding: 0;
	background-color: var(--main-bg-color);
	margin:0;
	text-rendering: optimizeLegibility;
}

hr {
	border: none;
	border-top: 1px solid #ccc;
	margin: 3rem 0;
}
ul {
	margin: 0;
}

a {
	color: var(--primary-color);
	text-decoration: none;
	border-bottom: 1px dotted var(--primary-color);
}

input {
	font-size: inherit;
	border: 1px solid #ccc;
	padding: .5rem;
	display: block;
	margin-bottom: 1rem;
	width: 25rem;
	background-color: var(--light-bg-color);
	border-radius: 5px;
	line-height: 1.5rem;
}

input[type="submit"] {
	background-color: var(--light-bg-color);
	cursor: pointer;
	margin-left: 0;
	background-color: #79C691;
	color: white;
	border: none;
	margin-top: 1.5rem;
	background-color: #B70F57;
	width: auto;
	padding: .5rem 1.5rem;
}

input[type="submit"]:hover {
	background-color: #c84a70;
}

label {
	display: block;
}
label.checkbox {
	display: inline-block;
	margin-left: .5rem;
}
small {
	font-weight: 300;
	font-size: .8rem;
}
form {
	margin-bottom: 3rem;
}
h2 {
	margin-bottom: .5rem;
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 1.2rem;
}

button {
	cursor: pointer;
	font-size: inherit;
	padding: .5rem 1rem;
}
/** CLASSES **/


.action {
	margin-bottom: 5rem;
	line-height: 3rem;
	font-size: 1.4rem;
}
.action a {
	font-weight: 300;
}
.url {
	word-wrap: break-word;
	font-weight: 300;
	font-size: .8rem;
}


#header {
	margin: 3rem 0 5rem 0;
}

#main {
	min-height: 100%;
}

#footer {
	background-color: var(--secondary-color);
	font-size: .8rem;
	padding: 3rem 0;
}

#footer a {
	border: 0;
	color: var(--primary-light-color);
	margin-right: 1.5rem;
}

.content { padding: 0 3rem; }

.credentials {
	width: 25rem;
	margin: 0 auto;
}

.logo {
	background-color: var(--primary-color);
	font-family: "Raleway", Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: .1rem;
	line-height: 2rem;
	margin: 0;
	padding: .5rem 6rem .5rem .5rem;
	text-decoration: none;
}
.logo a {
	color: var(--secondary-color);
	text-decoration: none;
	font-size: 1rem;
	font-weight: 600;
	border: none;
}
.logo a:hover {
	text-decoration: none;
}

.title {
	font-weight: 600;
}

.logout {
	float: right;
	line-height: 2rem;
	font-weight: 300;
}
.logout a {
	font-decoration: none;
	color: black;
	margin-left: 1rem;
}
.url-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.url-list li {
	background-color: white;
	margin-bottom: 0rem;
	padding: 1.5rem 1rem;
	display: flex;
	align-items: center;
}
.url-list li:nth-child(odd) {
	background-color: #f7fbfc;
}
.url-list li.url {
	padding: 0.5rem 1rem;
	word-wrap: break-word;
}
.url-list div:nth-child(1) {
	width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
	max-width: 100ch;
	white-space: nowrap;
}
.url-list div:nth-child(2) {
	text-align: right;
	width: 30%;
	align-items:center;
}
.url-list div:nth-child(2) a {
	color: #B70F57;
}
.url-list a {
	color: var(--primary-color);
	text-decoration: none;
	font-weight: 300;
	border: 0;
}
.url-list .description {
	font-size: .8rem;
	color: #333;
	margin-top: .5rem;
}
.project-add-container {
	background-color: white;
	padding: 2.5rem 0;
	font-weight: 300;
}
.project-add-col {
	width:50%;
	padding: 3rem;
	color: #333;
}
.project-add-col:nth-child(2) {
	padding-left: 0;
}
.project-form-container {
	background-color: rgb(248, 248, 248);
	background-color: #F7E497;
	background: linear-gradient(to right, #F7E497, #fbf8e0);
	border-radius: 10px;
}
.project-container {
	background-color: white;
	overflow: auto;
}
.project {
	padding: 0;
	font-weight: 300;
	background-color: var(--main-bg-color);
	border-radius: 10px;
	box-sizing: border-box;
	width: 100%;
	padding: 3rem;
	margin: 2.5rem 0;
	display: flex;
}
.project-add {
	background-color: #F7E497;
	padding: 1.5rem;
	font-weight: 300;
	background: linear-gradient(to right, #F7E497, #fbf8e0);
}
.project-add-button {
	border: none; 
	text-align:center;
	width: 25%;
	background-color: rgba(256,256,256,.3);
	padding: 1.5rem 1.5rem;
	border-radius: 15px;
	margin-right: 3rem;
	font-size: 1rem;
}
.project-add-button:hover {
		background-color: rgba(256,256,256,.4);
}
.project p {
	margin-bottom: 0;
}
.project li {
	font-weight: 300;
}
.project-title {
	display: flex;
	align-items: center;
}
.project-title h2 {
	font-size: 1.2rem;
	margin: 0;
	font-weight: 400;
	margin-left: 1rem;
}

.project-title a {
	color: var(--primary-color);
}
.project-link {
	color: #B70F57;
	border: none;
}
.project-crawl {
	display: flex;
	position:absolute;
	bottom: 0;
	left:1.5rem;
	border: 0
}
.project-crawl span {
	margin-left: 1rem;
}
.project-buttons {
	margin-top: 3rem;
	box-sizing: border-box;
	display: flex;
}
.issues-chart {
	width: 100%;
	height: 25rem;
	margin-bottom:5rem;
}
.issues-chart-buttons {
	text-align: center;
	margin-bottom: 5rem;
}
.issues-buttons {
	margin-top: 0;
}
.issues-buttons .button:hover, .project-buttons .button:hover, .button:hover {
	background-color: #c84a70;
}
.issues-buttons .button, .project-buttons .button, .button {
	background-color: #79C691;
	color: white;
	border: 0;
	box-shadow: 5px 5px transparent;
	border-radius: 5px;
	box-sizing: border-box;
	line-height: 1rem;
	font-size:1rem;
	margin-right:1rem;
	box-sizing: border-box;
	background-color: #B70F57;
	color: white;
	border: none;
}

.link-out {
	border-bottom: none;
}
.pagereport-title {
	margin-bottom: 3rem;
}
.pagereport-errors {
	margin-bottom: 0;
}
.issue-panel {
	background-color: white;
	padding-top: 3rem;
	overflow: auto;
}
.issues-empty {
	margin-left: 3rem;
}
.issue-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-items: stretch;
}
.issue-col:nth-child(1) {
	width:70%;
}
.issue-links {
	text-align: left;
	padding-left: 3rem;
}
.issue-links a {
	color: #B70F57;
	border: none;
}
.flex-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-bottom: 3rem;
}
.chart-col {
	box-sizing: border-box;
	width: 50%;
}
.chart-col h2 {
	margin: 0 0 3rem 0;
	padding: 0;
}
.chart-block {
	background-color: white;
	margin-bottom: 5rem
}
.crawl-chart-container {
	background: -webkit-linear-gradient(to right, #F7E497, #fbf8e0);
	background: linear-gradient(to right, #F7E497, #fbf8e0);
	padding: 6rem 0;
}
.crawl-chart {
	width: 100%;
	height: 20rem;
}
.bottom-margin {
	margin: 0 0 3rem 0;
}
.col {
	box-sizing: border-box;
	padding-bottom: 3rem;
	width: 50%;
	display: block;
	margin:0;
	padding:0;
	position:relative
}
.col:nth-child(odd) {
	padding-right: 1.5rem;
}
.col:nth-child(even) {
	padding-left: 1.5rem;
}

.col h2 {
	width: 10rem;
	display: inline-block;
	text-align: center;
	
}
.col-s {
	width: 11rem;
}
.page-details {
	font-weight: 300;
}
.col li {
	font-weight: 300;
	font-size: .9rem;
}
a.button {
	border: none;
	padding: .5rem 1.5rem;
}

.crawler-item {
	display: flex;
	align-items: center;
	height: 24px;
}
.crawler-item span {
	margin-left: 1rem;
}
.pagination {
	margin: 3rem 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.pagination .prev, .next {
	width: 50%;
}
.next {
	text-align: right;
}

.issues {
	margin-bottom: 1.5rem;
	font-weight: 300;
	background-color: var(--main-bg-color);
	background-color: white;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 1.5rem;
	margin-left: 1rem;
}
.issue-description {
	padding: 0 2.5rem .5rem 2.5rem;
}

.issues svg {
	vertical-align: baseline;
	transform: translateY(2px);
}

.issues h2 {
	margin: 0;
	line-height: 1.6rem;
}
.issues p {
	margin: 0;
	margin-bottom: 1.5rem;
}
.issues.error h2 {
	display: inline-block;
	margin-bottom:1.5rem;
	border-bottom: 1px solid #FD7B6A;
}
.issues.alert h2 {
	display: inline-block;
	margin-bottom: 1.5rem;
	border-bottom: 1px solid #F7E497;
}

.issues.notice h2 {
	display: inline-block;
	margin-bottom: 1.5rem;
	border-bottom: 1px solid #2C7D91;
}

.critical-issues {
	margin-bottom: 3rem;
}
.alert-issues {
	margin-bottom: 3rem;
}
.notice-issues {
	margin-bottom: 3rem;
}
.issues h2.alert {
	background-color: #faf1ca;
	border-left: 2rem solid #F7E497;
}

.issues h2.notice {
	background-color: #d3ebf1;
	border-left: 2rem solid #2C7D91;
}

span.alert {
	background-color: #E17E56;
	color: white;
	padding: .2rem .5rem;
	border-radius: 5px;
	font-weight: 300;
	font-size: .8rem;
}

.tabs {
	margin-bottom: 0;
	background-color: white;
	padding: 1.5rem 3rem;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.tabs ul {
	padding:0;
}
.tabs ul li {
	display: inline-block;
	list-style-type: none;
	padding: 0;
	margin: .5rem 0;
}

a.active {
	font-weight: 600;
}

.button.active:hover {
	background-color: black;
	color: white;
}

.list-header {
	font-weight: 600;
	padding: 1.5rem 3rem;
	margin: 0;
	background-color: #d3ebf1;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.action-buttons {
	margin-bottom: 3rem;
	margin-top: .5rem
}

.box {
	border-radius: 5px;
	box-shadow: 5px 5px #f0f0f0;
	border-top: 1px solid #f0f0f0;
	border-left: 1px solid #f0f0f0;
}

.report-box {
	padding: 1.5rem 3rem;
}

.report-block {
	margin-bottom: 5rem;
}

.center {
	text-align: center;
}

.crawler-container {
	background-color: rgb(248, 248, 248);
	border-radius: 10px;
	padding: 5rem;
}
.crawler-layout {
	display:flex;
	flex-wrap: wrap;
	color: #555;
}

.crawler-col {
	width: 50%;
}

/** CHARTS **/

.light-chart-container {
	background-color: white;
	padding: 5rem 0;
}

.links-chart {
	width: 100%;
	height: 20rem;
}
.chart-container {
	background-color: white; padding: 3rem 1.5rem; border-radius: 5px;
	box-shadow: 5px 5px #f0f0f0;
	border-top: 1px solid #f0f0f0;
	border-left: 1px solid #f0f0f0;
	width: 100%;
}

.chart-container h2 {margin:0;}

.chart {
	margin-top: 1rem;
	border-radius: 50%;
	width: 10rem;
	height: 10rem;
	position: relative;
}

.chart:after {
	position: absolute;
	background-color: var(--main-bg-color);
	top: 3rem;
	bottom: 3rem;
	left: 3rem;
	right: 3rem;
	content: " ";
	border-radius: 50%;
}

.chart-list {
	list-style: none;
	margin-top: 1.5rem;
}
.chart-list li {
	padding-left: .5rem;
	line-height: 1rem;
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: .5rem;
	border-left: 1rem solid transparent;
}
.chart-list li:nth-child(1) {border-left: 1rem solid #C8AECC;}
.chart-list li:nth-child(2) {border-left: 1rem solid #EE9FAF;}
.chart-list li:nth-child(3) {border-left: 1rem solid #D983AD;}
.chart-list li:nth-child(4) {border-left: 1rem solid #524766;}

.status-list li:nth-child(1) {border-left: 1rem solid #638179;}
.status-list li:nth-child(2) {border-left: 1rem solid #B1AC75;}
.status-list li:nth-child(3) {border-left: 1rem solid #EBDAA1;}
.status-list li:nth-child(4) {border-left: 1rem solid #DF7A62;}

.legend-block {
	margin-bottom: 6rem;
}

.legend p {
	margin-bottom: 0;
	font-weight: 300;
}
.legend {
	box-sizing: border-box;
	width: 30%;
	background-color: white;
	padding: 1rem;
}

.legend:nth-child(1) {
	border-left: 2rem solid #FD7B6A;
	margin-right: 5%;
}

.legend:nth-child(2) {
		border-left: 2rem solid #F7E497;
}

.legend:nth-child(3) {
	margin-left: 5%;
	border-left: 2rem solid #2C7D91;
}

p.error {
	color: #FD7B6A;
}

.flex-container {
	display: flex;
}
.toggle-container {
	display:flex;
}

.toggle-help {
	display: block;
	padding-left: 4rem;
}
.toggle {
      --width: 3rem;
      --height: 1.5rem;

      position: relative;
      display: inline-block;
      width: var(--width);
      height: var(--height);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
      border-radius: var(--height);
      cursor: pointer;
    }

    .toggle input {
      display: none;
    }

    .toggle .slider {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: var(--height);
      background-color: rgba(0, 0, 0, 0.2);
      transition: all 0.2s ease-in-out;
    }

    .toggle .slider::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(var(--height));
      height: calc(var(--height));
      border-radius: calc(var(--height) / 2);
      background-color: #fff;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
      transition: all 0.2s ease-in-out;
    }

    .toggle input:checked+.slider {
      background-color: #2C7D91;
    }

    .toggle input:checked+.slider::before {
      transform: translateX(calc(var(--width) - var(--height)));
    }
	
	.label {
		margin-left: 1rem;
		font-weight: 400;
	}

.section-title {
	display: flex;
	align-items: center;
	margin-bottom: 3rem;
}

.section-title h1 {
	margin-left: 1rem;
}

.url-detail {
	display:flex;
	flex-wrap:wrap;
	padding: 1.5rem;
}
.url-detail:nth-child(odd) {
	background-color: #f7fbfc;
}
.url-detail div:nth-child(1) {
	width: 25%;
	font-weight: 400;
}
.url-detail div:nth-child(2) {
	width: 75%;
}
.url-detail-table {
	font-size:.8rem;
}
.url-detail-table th {
	font-weight: 400;
	text-align: left;
}
.url-detail-table tr td {
	font-weight: 300;
	padding: .5rem 0;
}

.url-detail-table tr td:nth-child(1) {
	width: 25%;
}

/** PRINT **/

@media print
{
	* {-webkit-print-color-adjust:exact;}
	body, .chart:after {background-color: white;}
	.button {display: none;}
}