# Ignore config.local
# This file overwrites the default config file.

config.local

# Ignore any file in the bin folder except .gitignore

bin/*
!bin/.gitignore

# Ignore any file in the web/static folder except favicon.ico and robots.txt
# The frontend build will copy fonts and styles into this folder.

archive/*
web/static/*
!web/static/favicon.ico
!web/static/robots.txt