# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Ignore everything in build/* except .gitkeep
/build/*/*
!/build/*/.gitkeep

## Project specific ignores ##

# Ignore config.local
# This file overwrites the default config file.

config.local

# Ignore any file in the bin folder except .gitignore

bin/*
!bin/.gitignore

# Ignore any file in the web/static folder except favicon.ico and robots.txt
# The frontend build will copy fonts and styles into this folder.

archive/*
web/static/*
!web/static/favicon.ico
!web/static/robots.txt