<html>
<head>
	<title>Reports</title>
	<style>
		body {
			font-family: monospace, monospace;
			font-size: 1rem;
		}
	</style>
</head>
<body>

<h1>Crawled Pages</h1>

<p><b>Total crawled pages: </b>{{ .TotalCount }}</p>

<p><b>Total crawled by media type: </b></p>

<ul>
	{{ range $i, $a := .MediaCount }}
	<li>{{ $i }}: {{ $a }}</li>
	{{ end }}
</ul>

<p><b>Total crawled by status code: </b></p>

<ul>
	{{ range $i, $a := .StatusCodeCount }}
	<li>{{ $i }}: {{ $a }}</li>
	{{ end }}
</ul>


<h1>Empty Title</h1>
<ul>
{{ range .EmptyTitle }}
	<li>{{ .Title }} ({{ .URL }})</li>
{{ end }}
</ul>
<h1>Short Title</h1>
<ul>
{{ range .ShortTitle }}
	<li>{{ .Title }} ({{ .URL }})</li>
{{ end }}
</ul>

<h1>Long Title</h1>
<ul>
{{ range .LongTitle }}
	<li>{{ .Title }} ({{ .URL }})</li>
{{ end }}
</ul>

<h1>Duplicated Title</h1>
<ul>
{{ range .DuplicatedTitle }}
	<li>{{ .Title }} ({{ .URL }})</li>
{{ end }}
</ul>
<hr>

<h1>Empty Description</h1>
<ul>
{{ range .EmptyDescription }}
	<li>{{ .Title }} ({{ .URL }})</li>
{{ end }}
</ul>

<h1>Short Description</h1>
<ul>
{{ range .ShortDescription }}
	<li>{{ .Title }} ({{ .URL }})</li>
{{ end }}
</ul>

<h1>Long Description</h1>
<ul>
{{ range .LongDescription }}
	<li>{{ .Title }} ({{ .URL }})</li>
{{ end }}
</ul>

<h1>Duplicated Description</h1>
<ul>
{{ range .DuplicatedDescription }}
	<li>{{ .Title }} ({{ .URL }})</li>
{{ end }}
</ul>

<hr>
<h1>Page Report</h1>

{{ range .PageReports }}
	<a href="{{ .URL }}" target="_blank">{{ .URL }}</a><br>
	<b>Status code:</b> {{ .StatusCode }}<br>
	<b>Title:</b> {{ .Title }}<br>
	<b>Description:</b> {{ .Description }}<br>
	<b>Robots:</b> {{ .Robots }}<br>
	<b>Redirect URL:</b> {{ .RedirectURL }}<br>
	<b>Refresh:</b> {{ .Refresh }}<br>
	<b>Content Type:</b> {{ .ContentType }}<br>
	<b>Lang:</b> {{ .Lang }}<br>
	<b>Canonical:</b> {{ .Canonical }}<br>
	<b>H1:</b> {{ .H1 }}<br>
	<b>H2:</b> {{ .H2 }}<br>
	<b>Words:</b> {{ .Words }}<br>
	<b>Size:</b> {{ .Size }}<br>
	<b>Links:</b>
	<ul>
	{{ range .Links }}
		<li>{{ .URL }}</li>
	{{ end }}
	</ul>
	
	<b>Images:</b>
	<ul>
	{{ range .Images }}
		<li>{{ .URL }} - {{ .Alt }}</li>
	{{ end }}
	</ul>
	
	<b>Hreflang:</b>
	<ul>
	{{ range .Hreflangs }}
		<li>{{ .URL }} - {{ .Lang }}</li>
	{{ end }}
	</ul>
	
	
	<b>Scripts:</b>
	<ul>
	{{ range .Scripts }}
		<li>{{ . }}</li>
	{{ end }}
	</ul>
	
	<b>Styles:</b>
	<ul>
	{{ range .Styles }}
		<li>{{ . }}</li>
	{{ end }}
	</ul>
<hr>
{{ end }}
</body>
</html>