{{ template "head" . }}

{{ $userLang := .User.Lang }}
{{ with .Data }}

<div class="panel">

	<div class="box box-first box-highlight">
		<div class="col col-main">
			<div class="content content-centered">
				<div>
					<h2>{{ trans "EDIT_ACCOUNT" }}</h2>
				</div>
			</div>
		</div>
	</div>

	{{ if .Error }}
	<div class="box soft">
		<div class="col col-main">
			<div class="content">
				<p class="error">
					{{ .ErrorMessage }}
				</p>
			</div>
		</div>
	</div>
	{{ end }}

	<form method="POST">
		<div class="box soft">
			<div class="col col-main">
				<div class="content">

					<label for="language">{{ trans "LANGUAGE_LABEL" }}</label>
					<select name="language" id="language">
						<option value="en"{{ if eq $userLang "en" }} selected{{ end }}>English</option>
						<option value="fa"{{ if eq $userLang "fa" }} selected{{ end }}>فارسی</option>
						<option value="es"{{ if eq $userLang "es" }} selected{{ end }}>Español</option>
					</select>

				</div>
			</div>
		</div>

		<div class="box box-highlight">
			<div class="col col-main">
				<div class="content-s">

					<input type="submit" value="{{ trans "SAVE" }}" class="inline"> <a href="/" class="button">{{ trans "CANCEL" }}</a>

				</div>
			</div>	
		</div>

	</form>

	<div class="box box-highlight">
		<div class="col col-main">
			<div class="content-s">
				<a href="/account/password">{{ trans "CHANGE_PASSWORD" }}</a>
			</div>
		</div>
	</div>

	<div class="box bg-alert">
		<div class="col col-main">
			<div class="content">
				<a href="/account/delete">
					{{ trans "DELETE_ACCOUNT" }}
				</a>
				<p>
					{{ trans "DELETE_ACCOUNT_MESSAGE" }}<br>
					{{ trans "DELETE_ACCOUNT_MESSAGE_CONFIRMATION" }}
				</p>
			</div>		
		</div>
	</div>

</div>

{{ end }}

{{ template "footer" . }}