{{ template "head" . }}

{{ with .Data }}

<div class="panel">

	<div class="box box-first box-highlight">
		<div class="col col-main">
			<div class="content content-centered">
				<div>
					<h2>{{ trans "CHANGE_PASSWORD" }}</h2>
				</div>
			</div>
		</div>
	</div>

	{{ if .Error }}
	<div class="box soft">
		<div class="col col-main">
			<div class="content">
				<p class="error">
					{{ .ErrorMessage }}
				</p>
			</div>
		</div>
	</div>
	{{ end }}

	<form method="POST">
		<div class="box soft">
			<div class="col col-main">
				<div class="content">

					<label for="password">{{ trans "CURRENT_PASSWORD" }}</label>
					<input type="password" name="password" required autofocus>		

				</div>
			</div>
		</div>
		
		<div class="box soft">
			<div class="col col-main">
				<div class="content">

					<label for="password">{{ trans "NEW_PASSWORD" }}</label>
					<input type="password" name="new_password" required>		

				</div>
			</div>	
		</div>

		<div class="box box-highlight">
			<div class="col col-main">
				<div class="content-s">

					<input type="submit" value="{{ trans "SAVE" }}" class="inline"> <a href="/account" class="button">{{ trans "CANCEL" }}</a>

				</div>
			</div>	
		</div>

	</form>

</div>

{{ end }}

{{ template "footer" . }}