{{ define "charts" }}
	<div class="content">
		<div class="flex-container">
			<div class="col">
				<div class="flex-container chart-container">
				<div class="col-s">
				<h2>Media Type</h2>
					<div class="chart"
					style="background: conic-gradient({{ .MediaChart.GetChart "#C8AECC" "#EE9FAF" "#D983AD" "#524766" }});">
					</div>
				</div>
				<div>
					<ul class="chart-list">
						{{ range .MediaChart }}
							<li><b>{{ .Value }}</b> {{ .Key }}</li>
						{{ end }}
					</ul>
				</div>
				</div>
			</div>

			<div class="col">
				<div class="flex-container chart-container">
				<div class="col-s">
					<h2>Status Code</h2>
					<div class="chart"
					style="background: conic-gradient({{ .StatusChart.GetChart "#638179" "#B1AC75" "#EBDAA1" "#DF7A62" }});">
					</div>
				</div>
				<div>
					<ul class="chart-list status-list">
						{{ range .StatusChart }}
							<li>
								<b>{{ .Value }}</b>
								{{ if eq .Key "Other" }}
									Other status codes
								{{ else }}
									URLs with status {{ .Key }}
								{{ end }}
							</li>
						{{ end }}
					</ul>
				</div>
				</div>
			</div>
		</div>
	</div>
{{ end }}