{{ template "head" . }}

<div class="panel">

	<div class="box box-first box-highlight">
		<div class="col col-main">
			<div class="content content-centered">
				<div>
					<h2>{{ trans "DELETE_ACCOUNT" }}</h2>
				</div>
			</div>
		</div>
	</div>

	{{ if .Data.Crawling }}
	<div class="box box-highlight">
		<div class="col col-main">
			<div class="content">
				<p>
					{{ trans "PROJECT_CRAWLING" }}<br>
					{{ trans "WAIT_BEFORE_DELETING" }}
				</p>
			</div>
		</div>
	</div>
	{{ else }}
	<div class="box box-highlight">
		<div class="col col-main">
			<div class="content">
				<p>{{ trans "DELETE_ACCOUNT_WARNING" }}<br>
				<strong>{{ trans "THIS_IS_PERMANENT" }}</strong> {{ trans "NO_TURNING_BACK" }}<br>
				{{ trans "ARE_YOU_SURE" }}</p>
			</div>
		</div>
	</div>

	<div class="box bg-alert">
		<div class="col col-main">
			<div class="content-s">
				<form method="POST">
					<input type="submit" value="{{ trans "DELETE" }}" class="inline"> <a href="/" class="button">{{ trans "CANCEL" }}</a>.
				</form>
			</div>
		</div>	
	</div>
	{{ end }}

</div>

{{ template "footer" . }}