{{ template "head" . }}

<div class="panel">

	<div class="box box-first box-highlight">
		<div class="col col-main">
			<div class="content content-centered">
				<div>
					<h2>Delete Account</h2>
				</div>
			</div>
		</div>
	</div>

	{{ if .Data.Crawling }}
	<div class="box box-highlight">
		<div class="col col-main">
			<div class="content">
				<p>
					One or more of your projects are being crawled or deleted.<br>
					Please wait for the process to finish before deleting your account.
				</p>
			</div>
		</div>
	</div>
	{{ else }}
	<div class="box box-highlight">
		<div class="col col-main">
			<div class="content">
				<p>By deleting your user account, you'll also be saying goodbye to all your projects data and crawl history.<br>
				<strong>This action is permanent</strong>, so once it's done, there's no turning back.<br>
				Are you sure you want to proceed?</p>
			</div>
		</div>
	</div>

	<div class="box bg-alert">
		<div class="col col-main">
			<div class="content-s">
				<form method="POST">
					<input type="submit" value="Delete" class="inline"> or <a href="/">cancel</a>.
				</form>
			</div>
		</div>	
	</div>
	{{ end }}

</div>

{{ template "footer" . }}