{{ template "head" . }}

{{ with .Data }}

<div class="panel">

	<div class="box box-highlight box-first"> 
		<div class="col col-main">
			<div class="content">
				<h2>Data Export</h2>
			</div>
		</div>
			
		<div class="col col-actions-l">
			<div class="main-action">
				<div class="content">
					<a href="/dashboard?pid={{ .Project.Id }}">{{ .Project.Host }}</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="box">
		<div class="col col-main">
			<div class="content">
				<h2>Export sitemap.xml</h2>
				<p>Download a sitemap.xml file with all the canonical pages in your site.</p>
			</div>
		</div>
	
		<div class="col col-actions">
			<a href="/export/sitemap?pid={{ .Project.Id }}" class="highlight">Download</a>
		</div>
	</div>
	
	<div class="box">
		<div class="col col-main">
			<div class="content">
				<h2>Export as CSV</h2>
				<p>Export all crawled URLs in CSV format, including all mime types and with additional information such as status code and size.</p>
			</div>
		</div>
	
		<div class="col col-actions">
			<a href="/export/csv?pid={{ .Project.Id }}" class="highlight">Download</a>
		</div>
	</div>

	<div class="box">
		<div class="col col-main">
			<div class="content">
				<h2>Export internal links</h2>
				<p>Export all the internal links in the website. Including origin, destination and anchor text.</p>
			</div>
		</div>

		<div class="col col-actions">
			<a href="/export/resources?pid={{ .Project.Id }}&t=internal" class="highlight">Download</a>
		</div>
	</div>

	<div class="box">
		<div class="col col-main">
			<div class="content">
				<h2>Export external links</h2>
				<p>Export all the external links in the website. Including origin, destination and anchor text.</p>
			</div>
		</div>
		
		<div class="col col-actions">
			<a href="/export/resources?pid={{ .Project.Id }}&t=external" class="highlight">Download</a>
		</div>
	</div>

	<div class="box">
		<div class="col col-main">
			<div class="content">
				<h2>Export images</h2>
				<p>Export all the image URLs in the website, including origin, image URLs and alt text.</p>
			</div>
		</div>

		<div class="col col-actions">
			<a href="/export/resources?pid={{ .Project.Id }}&t=images" class="highlight">Download</a>
		</div>
	</div>

	<div class="box">
		<div class="col col-main">
			<div class="content">
				<h2>Export scripts</h2>
				<p>Export all the script URLs in the website, including origin and script URLs.</p>
			</div>
		</div>
		
		<div class="col col-actions">
			<a href="/export/resources?pid={{ .Project.Id }}&t=scripts" class="highlight">Download</a>
		</div>
	</div>

	<div class="box">
		<div class="col col-main">
			<div class="content">
				<h2>Export styles</h2>
				<p>Export all the CSS stylesheet URLs in the website, including origin and style URLs.</p>
			</div>
		</div>

		<div class="col col-actions">
			<a href="/export/resources?pid={{ .Project.Id }}&t=styles" class="highlight">Download</a>
		</div>
	</div>

	<div class="box">
		<div class="col col-main">
			<div class="content">
				<h2>Export iframes</h2>
				<p>Export all the iframe URLs in the website, including origin and iframe URLs.</p>
			</div>
		</div>

		<div class="col col-actions">
			<a href="/export/resources?pid={{ .Project.Id }}&t=iframes" class="highlight">Download</a>
		</div>
	</div>

	<div class="box">
		<div class="col col-main">
			<div class="content">
				<h2>Export audios</h2>
				<p>Export all audio URLs in the website, including origin and audio URLs.</p>
			</div>
		</div>

		<div class="col col-actions">
			<a href="/export/resources?pid={{ .Project.Id }}&t=audios" class="highlight">Download</a>
		</div>
	</div>

	<div class="box">
		<div class="col col-main">
			<div class="content">
				<h2>Export videos</h2>
				<p>Export all video URLs in the website, including origin and video URLs.</p>
			</div>
		</div>

		<div class="col col-actions">
			<a href="/export/resources?pid={{ .Project.Id }}&t=videos" class="highlight">Download</a>
		</div>
	</div>

	<div class="box">
		<div class="col col-main">
			<div class="content">
				<h2>Export Hreflangs</h2>
				<p>Export all hreflang URLs in the website, including origin URL and language as well as hreflang URL and language.</p>
			</div>
		</div>

		<div class="col col-actions">
			<a href="/export/resources?pid={{ .Project.Id }}&t=hreflangs" class="highlight">Download</a>
		</div>
	</div>

	{{ if .ArchiveExists }}
		<div class="box">
			<div class="col col-main">
				<div class="content">
					<h2>Export WACZ Archive</h2>
					<p>Export your project's crawled data as a WACZ file for archival or replaying.</p>
				</div>
			</div>

			<div class="col col-actions">
				<a href="/export/wazc?pid={{ .Project.Id }}" class="highlight">Download</a>
			</div>
		</div>
	{{ end }}
</div>

{{ end}}

{{ template "footer" . }}
