{{ define "head" }}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex,nofollow">
	{{ if .Refresh }}
		<meta http-equiv="refresh" content="120"/>
	{{ end }}
	<title>
		{{ trans .PageTitle }} - SEOnaut
	</title>
	<link rel="stylesheet" href="/resources/style.css?v=0.27">
</head>
<body>
<div id="main">
	<div id="header">
		<div class="box borderless">
			<div class="col borderless">
				<div class="content">
					<div class="logo"><a href="/">SEOnaut</a></div>
				</div>
			</div>
			<div class="col">
		<div class="content">
			{{ if .User.Id }}
				<span class="menu">
					<a href="/">Projects</a>
					<a href="/account">Account</a>
					<a href="/signout">Logout</a>
				</span>
			{{ end }}
		</div>

			</div>
		</div>

	</div>
{{ end }}