{{ define "head" }}
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex,nofollow">
	{{ if .Refresh }}
		<meta http-equiv="refresh" content="120"/>
	{{ end }}
	<title>
		{{ trans .PageTitle }} - SEOnaut
	</title>
	<link rel="stylesheet" href="/resources/style.css?v=0.9">
	<script src="https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.min.js"></script>
</head>
<body>
<div id="main">
	<div id="header">
		<div class="content">
			<span class="logo"><a href="/">SEOnaut</a></span>
			{{ if .User.Id }}
				<span class="logout">
					<a href="/signout">Logout</a>
				</span>
			{{ end }}
		</div>
	</div>
{{ end }}