{{ template "head" . }}

<div class="content">
	<h1 class="title">Projects</h1>
	<div class="action">
		<a href="/new-project" style="font-size: 1rem">+ Add Project</a>
	</div>
</div>

<div class="content">
	<div style="display:flex; flex-wrap: wrap">
	{{ range .Data.Projects }}
	<div class="col">
		<div class="project">
			<h2 class="project-title">{{ .Project.URL }}</h2>
			{{ if .Crawl.Id }}
			
				{{ if .Crawl.IssuesEnd.Valid }}
					{{ if eq .Crawl.TotalURLs 0 }}
						<p class="error">The SEOnaut bot could not crawl your site.</p>
						<a href="/crawl?pid={{ .Project.Id }}">Crawl Now</a>
					{{ else }}
						<div>
						Crawled on {{ .Crawl.Start.Format "Jan 02, 2006" }}. <br>
						Crawl duration was {{ total_time .Crawl.Start .Crawl.End.Time }}.<br>
						{{ .Crawl.TotalURLs }} {{ if eq .Crawl.TotalURLs 1 }}URL{{ else }}URLs{{end }}
						crawled. <br>
						{{ if .Project.IgnoreRobotsTxt }}Ignoring the robots.txt file.<br>{{ end }}
						{{ if .Project.FollowNofollow }}Following internal nofollow links.<br>{{ end }}
						{{ if .Project.IncludeNoindex }}Including noindex pages.<br>{{ end }}
						<a href="/crawl?pid={{ .Project.Id }}">Crawl now</a>
						</div>
						<p class="project-buttons">
							<a class="button" href="/issues?pid={{ .Project.Id }}">View Report →</a>
						</p>
					{{ end }}
				{{ else }}
					<p>Now crawling...</p>
				{{ end }}
			{{ else }}
				<div>This project has not been crawled yet.</div>
				<p><a class="button" href="/crawl?pid={{ .Project.Id }}">crawl Now</a></p>
			{{ end }}
		</div>
	</div>
	{{ end }}
	</div>
</div>

{{ template "footer" . }}