{{ template "head" . }}

{{ with .Data }}

<div class="panel">

	<div class="box box-first">
		<div class="col col-main">
			<div class="content">
				<a href="/issues?pid={{ .ProjectView.Project.Id }}">Site Issues</a>
			</div>
		</div>

		<div class="col col-actions-l">
			<div class="main-action">
				<div class="content">
					<a href="/dashboard?pid={{ .ProjectView.Project.Id }}">{{ .ProjectView.Project.Host }}</a>
				</div>
			</div>
		</div>
	</div>
	

	<div class="box">
		<div class="col highlight col-main">
			<div class="content">
				<div>
					<h2 >{{ trans .Eid }}</h2>
				</div>
			</div>
		</div>

		<div class="col col-actions">
			<a class="icon-text highlight borderless main" href="/export/csv?pid={{ .ProjectView.Project.Id }}&eid={{ .Eid }}">
				<p class="icon"><svg xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M16.965 2.381c3.593 1.946 6.035 5.749 6.035 10.119 0 6.347-5.153 11.5-11.5 11.5s-11.5-5.153-11.5-11.5c0-4.37 2.442-8.173 6.035-10.119l.608.809c-3.353 1.755-5.643 5.267-5.643 9.31 0 5.795 4.705 10.5 10.5 10.5s10.5-4.705 10.5-10.5c0-4.043-2.29-7.555-5.643-9.31l.608-.809zm-4.965-2.381v14.826l3.747-4.604.753.666-5 6.112-5-6.101.737-.679 3.763 4.608v-14.828h1z"/></svg></p>
				<p>Download URLs</p>
			</a>
		</div>
	</div>

	{{ if .PaginatorView.PageReports }}

		{{ $pid := .ProjectView.Project.Id }}
		{{ $eid := .Eid }}
		{{ range .PaginatorView.PageReports }}

		<div class="box soft">
			<div class="col col-main highlight">
				<div class="content">
					<div class="url">
						{{ if .Title }}{{ .Title }}<br />{{ end }}
						<a href="/resources?pid={{ $pid }}&rid={{ .Id }}&eid={{ $eid }}">{{ .URL }}</a>
					</div>
				</div>
			</div>

			<div class="col col-actions">
				<a class="icon-text highlight borderless main" href="/resources?pid={{ $pid }}&rid={{ .Id }}&eid={{ $eid }}">View Details</a>
			</div>
		</div>

		{{ end }}

		{{ if gt .PaginatorView.Paginator.TotalPages 1 }}

			<div class="box pagination">
				<div class="col prev">
					<div class="content">

					{{ if .PaginatorView.Paginator.PreviousPage }}

						<a href="/issues/view?pid={{ .ProjectView.Project.Id }}&eid={{ .Eid }}&p={{ .PaginatorView.Paginator.PreviousPage }}">
							← prev
						</a>

					{{ else }}

						← prev

					{{ end }}

					</div>
				</div>
		
				<div class="col">
					<div class="content aligned">
						{{ .PaginatorView.Paginator.CurrentPage }}/{{ .PaginatorView.Paginator.TotalPages }}
					</div>
				</div>

				<div class="col next">
					<div class="content">

					{{ if .PaginatorView.Paginator.NextPage }}

					<a href="/issues/view?pid={{ .ProjectView.Project.Id }}&eid={{ .Eid }}&p={{ .PaginatorView.Paginator.NextPage }}">
						next →
					</a>

					{{ else }}

						next →

					{{ end }}

					</div>
				</div>
			</div>

			{{ end }}

		{{ else }}

			<p><b>Everything is ok</b></p>

		{{ end }}

	</div>

{{ end }}

{{ template "footer" . }}