{{ template "head" . }}

{{ with .Data }}
<div class="content">
	<div class="action">
		<a href="/">Projects</a> /
		<a href="/dashboard?pid={{ .ProjectView.Project.Id }}">{{ .ProjectView.Project.Host }}</a> /
		<a href="/issues?pid={{ .ProjectView.Project.Id }}">Issues</a> /
		<span class="title">{{ trans .Eid }}</span>
	</div>
</div>

<div class="content">
	<p class="list-header">URLs</p>
	{{ if .PaginatorView.PageReports }}
		<ul class="url-list">
		{{ $pid := .ProjectView.Project.Id }}
		{{ $eid := .Eid }}
		{{ range .PaginatorView.PageReports }}
			<li>
				<div>
					{{ if .Title }}{{ .Title }}<br />{{ end }}
					<a href="/resources?pid={{ $pid }}&rid={{ .Id }}&eid={{ $eid }}" class="url">{{ .URL }}</a>
				<div>
			</li>
		{{ end }}
	</ul>
		{{ if gt .PaginatorView.Paginator.TotalPages 1 }}
			<div class="pagination">
				<div class="prev">
				{{ if .PaginatorView.Paginator.PreviousPage }}
					<a href="/issues/view?pid={{ .ProjectView.Project.Id }}&eid={{ .Eid }}&p={{ .PaginatorView.Paginator.PreviousPage }}">
						← previous page
					</a>
				{{ end }}
				</div>
				<div class="next">
				{{ if .PaginatorView.Paginator.NextPage }}
					<a href="/issues/view?pid={{ .ProjectView.Project.Id }}&eid={{ .Eid }}&p={{ .PaginatorView.Paginator.NextPage }}">
						next page →
					</a>
				{{ end }}
				</div>
			</div>
		{{ end }}
	{{ else }}
		<p><b>Everything is ok</b></p>
	{{ end }}
</div>
{{ end }}

{{ template "footer" . }}