{{ template "head" . }}

{{ with .Data }}
<div class="content">
	<div class="action">
		<a href="/">Projects</a> /
		<a href="/dashboard?pid={{ .ProjectView.Project.Id }}">{{ .ProjectView.Project.Host }}</a> /
		<a href="/issues?pid={{ .ProjectView.Project.Id }}">Issues</a> /
		<span class="title">{{ trans .Eid }}</span>
	</div>
</div>

<div class="issue-panel">
<div class="content">
	<div class="url-header">
		<div class="col1"><h2>{{ trans .Eid }}</h2></div>
		<div class="url-button">
		<a href="/download?pid={{ .ProjectView.Project.Id }}&eid={{ .Eid }}">↓ Download URLs</a>
	</div>
	</div>

	{{ if .PaginatorView.PageReports }}
		<ul class="url-list">
		{{ $pid := .ProjectView.Project.Id }}
		{{ $eid := .Eid }}
		{{ range .PaginatorView.PageReports }}
			<li>
				<div>
					{{ if .Title }}{{ .Title }}<br />{{ end }}
					<a href="/resources?pid={{ $pid }}&rid={{ .Id }}&eid={{ $eid }}" class="url">{{ .URL }}</a>
				</div>
				<div><a href="/resources?pid={{ $pid }}&rid={{ .Id }}&eid={{ $eid }}">→ View details</a></div>
			</li>
		{{ end }}
	</ul>
		{{ if gt .PaginatorView.Paginator.TotalPages 1 }}
			<div class="pagination">
				<div class="prev">
				{{ if .PaginatorView.Paginator.PreviousPage }}
					<a href="/issues/view?pid={{ .ProjectView.Project.Id }}&eid={{ .Eid }}&p={{ .PaginatorView.Paginator.PreviousPage }}">
						← prev
					</a>
				{{ end }}
				</div>
				<div><small>{{ .PaginatorView.Paginator.CurrentPage }}/{{ .PaginatorView.Paginator.TotalPages }}</small></div>
				<div class="next">
				{{ if .PaginatorView.Paginator.NextPage }}
					<a href="/issues/view?pid={{ .ProjectView.Project.Id }}&eid={{ .Eid }}&p={{ .PaginatorView.Paginator.NextPage }}">
						next →
					</a>
				{{ end }}
				</div>
			</div>
		{{ end }}
	{{ else }}
		<p><b>Everything is ok</b></p>
	{{ end }}
</div>
</div>
{{ end }}

{{ template "footer" . }}