{{ template "head" . }}

<div class="panel">

	<div class="box box-first box-highlight">
		<div class="col col-main">
			<div class="content content-centered">
				<div>
					<h2>{{ trans "ADD_PROJECT" }}</h2>
				</div>
			</div>
		</div>
	</div>

	<form method="POST">
		<div class="box soft">
			<div class="col col-main">
				<div class="content">
					<label for="url">{{ trans "URL_LABEL" }}</label>
					<input type="url" name="url" required autofocus>
					{{ trans "URL_LABEL_MESSAGE" }}
					{{ if .Data.URLError }}
						<p class="error">{{ trans "URL_NOT_VALID" }}</p>
					{{ end }}
				</div>
			</div>
		</div>
		
		<div class="box soft">
			<div class="col col-main">
				<div class="content">

					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="ignore_robotstxt">
							<span class="slider"></span>
						</label>
						<span class="label">{{ trans "IGNORE_ROBOTS_LABEL" }}</span>
					</div>
					<span class="toggle-help">
						{{ trans "IGNORE_ROBOTS_HELP" }}
					</span>
					
				</div>
			</div>
		</div>

	<div class="box soft">
		<div class="col col-main">
			<div class="content">

					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="follow_nofollow">
								<span class="slider"></span>
							</label>
							<span class="label">{{ trans "FOLLOW_NOFOLLOW_LABEL" }}</span>
					</div>
					<span class="toggle-help">{ trans "FOLLOW_NOFOLLOW_HELP" }</span>
			
			</div>
		</div>
	</div>

	<div class="box soft">
		<div class="col col-main">
			<div class="content">

					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="include_noindex">
							<span class="slider"></span>
						</label>
						<span class="label">{{ trans "INCLUDE_NOINDEX_LABEL" }}</span>
					</div>
					<span class="toggle-help">{{ trans "INCLUDE_NOINDEX_HELP" }}</span>

				</div>
			</div>
		</div>

	<div class="box soft">
		<div class="col col-main">
			<div class="content">

					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="crawl_sitemap">
							<span class="slider"></span>
						</label>
						<span class="label">{{ trans "CRAWL_SITEMAP_LABEL" }}</span>
					</div>
					<span class="toggle-help">{{ trans "CRAWL_SITEMAP_HELP" }}</span>

				</div>
			</div>
		</div>
		
		<div class="box soft">
			<div class="col col-main">
				<div class="content">

					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="allow_subdomains">
							<span class="slider"></span>
						</label>
						<span class="label">{{ trans "ALLOW_SUBDOMAINS_LABEL" }}</span>
					</div>
					<span class="toggle-help">{{ trans "ALLOW_SUBDOMAINS_HELP" }}</span>

				</div>
			</div>
		</div>

		<div class="box soft">
			<div class="col col-main">
				<div class="content">

					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="check_external_links">
							<span class="slider"></span>
						</label>
						<span class="label">{{ trans "CHECK_EXTERNAL_LINKS_LABEL" }}</span>
					</div>
					<span class="toggle-help">{{ trans "CHECK_EXTERNAL_LINKS_HELP" }}</span>

				</div>
			</div>
		</div>

		<div class="box soft">
			<div class="col col-main">
				<div class="content">
					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="archive">
							<span class="slider"></span>
						</label>
						<span class="label">{{ trans "CREATE_WACZ_LABEL" }}</span>
					</div>
					<span class="toggle-help">{{ trans "CREATE_WACZ_HELP" }}</span>
				</div>
			</div>
		</div>

		<div class="box soft">
			<div class="col col-main">
				<div class="content">
					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="basic_auth">
							<span class="slider"></span>
						</label>
						<span class="label">{{ trans "USE_AUTH_LABEL" }}</span>
					</div>
					<span class="toggle-help">{{ trans "USE_AUTH_HELP" }}</span>
				</div>
			</div>
		</div>

		<div class="box soft">
			<div class="col col-main">
				<div class="content">
					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="custom_user_agent" id="custom_user_agent">
							<span class="slider"></span>
						</label>
						<span class="label">{{ trans "CUSTOM_USERAGENT_LABEL" }}</span>
					</div>
					<div class="toggle-help">
						<p>{{ trans "CUSTOM_USERAGENT_HELP" }}</p>
						<div id="user_agent_input">
							<label for="custom_user_agent_text">{{ trans "ENTER_USERAGENT_LABEL" }}</label>
							<input type="text" name="custom_user_agent_text" value="{{ .Data.UserAgent }}" maxlength="255" required>
							{{ if .Data.UserAgentError }}
								<p class="error">{{ trans "USERAGENT_NOT_VALID" }}</p>
							{{ end }}
						</div>	
					</div>
				</div>
			</div>
		</div>

		<div class="box box-highlight">
			<div class="col col-main">
				<div class="content-s">

					<input type="submit" value="{{ trans "SAVE" }}" class="inline"> <a href="/" class="button">{{ trans "CANCEL" }}</a>

				</div>
			</div>
		</div>

	</form>
</div>

<script type="text/javascript">
	let userAgent = document.getElementById('custom_user_agent');
	let userAgentInput = document.getElementById('user_agent_input');
	let toggleUserAgentInput = checked => userAgentInput.style.display = checked ? 'block' : 'none';

	// Initially hide the input if checkbox is not checked
	{{ if .Data.UserAgentError }}userAgent.checked = true;{{ end }}
	toggleUserAgentInput(userAgent.checked)

	userAgent.addEventListener('change', function(e) {
		toggleUserAgentInput(e.currentTarget.checked);
	});
</script>

{{ template "footer" . }}