{{ template "head" . }}

<div class="panel">

	<div class="box box-highlight">
		<div class="col col-main">
			<div class="content content-centered">
				<div>
					<h2>Add Project</h2>
				</div>
			</div>
		</div>
	</div>


	<form method="POST">
		<div class="box" style="border-top: 0">
			<div class="col">
				<div class="content">

					<label for="url">URL:</label>
					<input type="url" name="url" autofocus>
					Full project URL including <i>http://</i> or <i>https://</i>
					{{ if .Data.Error }}
						<p class="error">The URL is not valid.</p>
					{{ end }}
					<input type="submit" value="Add Project">
				</div>
			</div>


			<div class="col">
				<div class="content">

					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="ignore_robotstxt">
							<span class="slider"></span>
						</label>
						<span class="label" >Ignore robots.txt</span>
					</div>
					<span class="toggle-help">
						If checked the crawler will bypass any restriction you have set in your robots file.
					</span>

					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="follow_nofollow">
								<span class="slider"></span>
							</label>
							<span class="label">Follow <i>nofollow</i> internal links</span>
					</div>
					<span class="toggle-help">
						If checked the crawler will ignore the <i>nofollow</i> attribute in links and robots meta tag.
					</span>

					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="include_noindex">
							<span class="slider"></span>
						</label>
						<span class="label">Include <i>noindex</i> pages in the report</span>
					</div>
					<span class="toggle-help">
						If checked the pages with the <i>noindex</i> attribute will also be included in the report.
					</span>

					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="crawl_sitemap">
							<span class="slider"></span>
						</label>
						<span class="label">Crawl sitemap</span>
					</div>
					<span class="toggle-help">
						If checked the URLs in the sitemap.xml will also be crawled.
					</span>

					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="allow_subdomains">
							<span class="slider"></span>
						</label>
						<span class="label">Allow subdomains</span>
					</div>
					<span class="toggle-help">
						If checked the crawler will also crawl URLs from subdomains.
					</span>

					</div>
				</div>
			</div>
		</form>
</div>

{{ template "footer" . }}