{{ template "head" . }}

{{ with .Data }}

<div class="panel">

	<div class="box box-first box-highlight">
		<div class="col col-main">
			<div class="content content-centered">
				<div>
					<h2>{{ trans "EDIT_PROJECT" }}</h2>
				</div>
			</div>
		</div>

		<div class="col col-actions-l">
			<div class="main-action">
				<div class="content">
					<a href="/dashboard?pid={{ .Project.Id }}">{{ .Project.Host }}</a>
				</div>
			</div>
		</div>
	</div>

	{{ if .Error }}
	<div class="box soft">
		<div class="col col-main">
			<div class="content">
				<p class="error">
					{{ trans "EDIT_ERROR" }}
				</p>
			</div>
		</div>
	</div>
	{{ end }}

	<form method="POST">
		<div class="box soft">
			<div class="col col-main">
				<div class="content">

					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="ignore_robotstxt"{{ if .Project.IgnoreRobotsTxt }} checked{{ end }}>
							<span class="slider"></span>
						</label>
						<span class="label">{{ trans "IGNORE_ROBOTS_LABEL" }}</span>
					</div>
					<span class="toggle-help">{{ trans "IGNORE_ROBOTS_HELP" }}</span>

				</div>
			</div>
		</div>
		
		<div class="box soft">
			<div class="col col-main">
				<div class="content">
		
					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="follow_nofollow"{{ if .Project.FollowNofollow }} checked{{ end }}>
								<span class="slider"></span>
							</label>
							<span class="label">{{ trans "FOLLOW_NOFOLLOW_LABEL" }}</span>
					</div>
					<span class="toggle-help">{{ trans "FOLLOW_NOFOLLOW_HELP" }}</span>

				</div>
			</div>	
		</div>
		
		<div class="box soft">
			<div class="col col-main">
				<div class="content">

					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="include_noindex"{{ if .Project.IncludeNoindex }} checked{{ end }}>
							<span class="slider"></span>
						</label>
						<span class="label">{{ trans "INCLUDE_NOINDEX_LABEL" }}</span>
					</div>
					<span class="toggle-help">{{ trans "INCLUDE_NOINDEX_HELP" }}</span>

				</div>
			</div>	
		</div>


		<div class="box soft">
			<div class="col col-main">
				<div class="content">
					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="crawl_sitemap"{{ if .Project.CrawlSitemap }} checked{{ end }}>
							<span class="slider"></span>
						</label>
						<span class="label">{{ trans "CRAWL_SITEMAP_LABEL" }}</span>
					</div>
					<span class="toggle-help">{{ trans "CRAWL_SITEMAP_HELP" }}</span>
				</div>
			</div>	
		</div>

		<div class="box soft">
			<div class="col col-main">
				<div class="content">
					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="allow_subdomains"{{ if .Project.AllowSubdomains }} checked{{ end }}>
							<span class="slider"></span>
						</label>
						<span class="label">{{ trans "ALLOW_SUBDOMAINS_LABEL" }}</span>
					</div>
					<span class="toggle-help">{{ trans "ALLOW_SUBDOMAINS_HELP" }}</span>
				</div>
			</div>
		</div>

		<div class="box soft">
			<div class="col col-main">
				<div class="content">

					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="check_external_links"{{ if .Project.CheckExternalLinks }} checked{{ end }}>
							<span class="slider"></span>
						</label>
						<span class="label">{{ trans "CHECK_EXTERNAL_LINKS_LABEL" }}</span>
					</div>
					<span class="toggle-help">{{ trans "CHECK_EXTERNAL_LINKS_HELP" }}</span>

				</div>
			</div>
		</div>

		<div class="box soft">
			<div class="col col-main">
				<div class="content">

					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="archive"{{ if .Project.Archive }} checked{{ end }}>
							<span class="slider"></span>
						</label>
						<span class="label">{{ trans "CREATE_WACZ_LABEL" }}</span>
					</div>
					<span class="toggle-help">{{ trans "CREATE_WACZ_HELP" }}</span>

				</div>
			</div>
		</div>

		<div class="box soft">
			<div class="col col-main">
				<div class="content">
					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="basic_auth"{{ if .Project.BasicAuth }} checked{{ end }}>
							<span class="slider"></span>
						</label>
						<span class="label">{{ trans "USE_AUTH_LABEL" }}</span>
					</div>
					<span class="toggle-help">{{ trans "USE_AUTH_HELP" }}</span>
				</div>
			</div>
		</div>

		<div class="box soft">
			<div class="col col-main">
				<div class="content">
					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="custom_user_agent" id="custom_user_agent"{{ if .CustomUserAgent }} checked{{ end }}>
							<span class="slider"></span>
						</label>
						<span class="label">{{ trans "CUSTOM_USERAGENT_LABEL" }}</span>
					</div>
					<div class="toggle-help">
						<p>{{ trans "CUSTOM_USERAGENT_HELP" }}</p>
						<div id="user_agent_input">
							<label for="custom_user_agent_text">{{ trans "ENTER_USERAGENT_LABEL" }}</label>
							<input type="text" name="custom_user_agent_text" value="{{ .Project.UserAgent }}" maxlength="255" required>
							{{ if .UserAgentError }}
								<p class="error">{{ trans "USERAGENT_NOT_VALID" }}</p>
							{{ end }}
						</div>	
					</div>
				</div>
			</div>
		</div>

		<div class="box box-highlight">
			<div class="col col-main">
				<div class="content-s">

					<input type="submit" value="{{ trans "SAVE" }}" class="inline"> <a href="/" class="button">{{ trans "CANCEL" }}</a>

				</div>
			</div>	
		</div>

	</form>

	<div class="box bg-alert">
		<div class="col col-main">
			<div class="content">
				<a href="/project/delete?pid={{ .Project.Id }}">
					{{ trans "DELETE_PROJECT" }}
				</a>
				<p>
					{{ trans "DELETE_PROJECT_MESSAGE" .Project.Host }}<br>
					{{ trans "DELETE_CANT_BE_UNDONE" }}
				</p>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">
	let userAgent = document.getElementById('custom_user_agent');
	let userAgentInput = document.getElementById('user_agent_input');
	let toggleUserAgentInput = checked => userAgentInput.style.display = checked ? 'block' : 'none';

	// Initially hide the input if checkbox is not checked
	{{ if or .UserAgentError .CustomUserAgent }}userAgent.checked = true;{{ end }}
	toggleUserAgentInput(userAgent.checked)

	userAgent.addEventListener('change', function(e) {
		toggleUserAgentInput(e.currentTarget.checked);
	});
</script>

{{ end }}

{{ template "footer" . }}