{{ template "head" . }}

{{ with .Data }}

<div class="panel">

	<div class="box box-first box-highlight">
		<div class="col col-main">
			<div class="content content-centered">
				<div>
					<h2>Edit Project</h2>
				</div>
			</div>
		</div>

		<div class="col col-actions-l">
			<div class="main-action">
				<div class="content">
					<a href="/dashboard?pid={{ .Project.Id }}">{{ .Project.Host }}</a>
				</div>
			</div>
		</div>
	</div>

	{{ if .Error }}
	<div class="box soft">
		<div class="col col-main">
			<div class="content">
				<p class="error">
					An error occurred and the project could not be saved.
				</p>
			</div>
		</div>
	</div>
	{{ end }}

	<form method="POST">
		<div class="box soft">
			<div class="col col-main">
				<div class="content">

					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="ignore_robotstxt"{{ if .Project.IgnoreRobotsTxt }} checked{{ end }}>
							<span class="slider"></span>
						</label>
						<span class="label" >Ignore robots.txt</span>
					</div>
					<span class="toggle-help">
						If checked the crawler will bypass any restriction you have set in your robots file.
					</span>

				</div>
			</div>
		</div>
		
		<div class="box soft">
			<div class="col col-main">
				<div class="content">
		
					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="follow_nofollow"{{ if .Project.FollowNofollow }} checked{{ end }}>
								<span class="slider"></span>
							</label>
							<span class="label">Follow <i>nofollow</i> internal links</span>
					</div>
					<span class="toggle-help">
						If checked the crawler will ignore the <i>nofollow</i> attribute in links and robots meta tag.
					</span>

				</div>
			</div>	
		</div>
		
		<div class="box soft">
			<div class="col col-main">
				<div class="content">

					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="include_noindex"{{ if .Project.IncludeNoindex }} checked{{ end }}>
							<span class="slider"></span>
						</label>
						<span class="label">Include <i>noindex</i> pages in the report</span>
					</div>
					<span class="toggle-help">
						If checked the pages with the <i>noindex</i> attribute will also be included in the report.
					</span>


				</div>
			</div>	
		</div>


		<div class="box soft">
			<div class="col col-main">
				<div class="content">
					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="crawl_sitemap"{{ if .Project.CrawlSitemap }} checked{{ end }}>
							<span class="slider"></span>
						</label>
						<span class="label">Crawl sitemap</span>
					</div>
					<span class="toggle-help">
						If checked the URLs in the sitemap.xml will also be crawled.
					</span>
				</div>
			</div>	
		</div>

		<div class="box soft">
			<div class="col col-main">
				<div class="content">
					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="allow_subdomains"{{ if .Project.AllowSubdomains }} checked{{ end }}>
							<span class="slider"></span>
						</label>
						<span class="label">Allow subdomains</span>
					</div>
					<span class="toggle-help">
						If checked the crawler will also crawl URLs from subdomains.
					</span>
				</div>
			</div>
		</div>

		<div class="box soft">
			<div class="col col-main">
				<div class="content">

					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="check_external_links"{{ if .Project.CheckExternalLinks }} checked{{ end }}>
							<span class="slider"></span>
						</label>
						<span class="label">Check External Links</span>
					</div>
					<span class="toggle-help">
						If checked the crawler will look for broken external links.
					</span>

				</div>
			</div>
		</div>

		<div class="box soft">
			<div class="col col-main">
				<div class="content">

					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="archive"{{ if .Project.Archive }} checked{{ end }}>
							<span class="slider"></span>
						</label>
						<span class="label">Create WACZ archive</span>
					</div>
					<span class="toggle-help">
						If checked a WACZ archive will be created and available as an export option.
					</span>

				</div>
			</div>
		</div>

		<div class="box soft">
			<div class="col col-main">
				<div class="content">
					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="basic_auth"{{ if .Project.BasicAuth }} checked{{ end }}>
							<span class="slider"></span>
						</label>
						<span class="label">Use HTTP Basic Authentication</span>
					</div>
					<span class="toggle-help">
						Check this option if your site is password protected with HTTP Basic Auth.
					</span>
				</div>
			</div>
		</div>

		<div class="box soft">
			<div class="col col-main">
				<div class="content">
					<div class="toggle-container">
						<label class="toggle" >
							<input type="checkbox" value="1" name="custom_user_agent" id="custom_user_agent"{{ if .CustomUserAgent }} checked{{ end }}>
							<span class="slider"></span>
						</label>
						<span class="label">Custom User-Agent</span>
					</div>
					<div class="toggle-help">
						<p>Set a custom User-Agent for SEOnaut's crawler when fetching URLs.</p>
						<div id="user_agent_input">
							<label for="custom_user_agent_text">Enter your custom User-Agent string:</label>
							<input type="text" name="custom_user_agent_text" value="{{ .Project.UserAgent }}" maxlength="255" required>
							{{ if .UserAgentError }}
								<p class="error">The User-Agent is not valid.</p>
							{{ end }}
						</div>	
					</div>
				</div>
			</div>
		</div>

		<div class="box box-highlight">
			<div class="col col-main">
				<div class="content-s">

					<input type="submit" value="Save" class="inline"> or <a href="/">cancel</a>.

				</div>
			</div>	
		</div>

	</form>

	<div class="box bg-alert">
		<div class="col col-main">
			<div class="content">
				<a href="/project/delete?pid={{ .Project.Id }}">
					Delete Project
				</a>
				<p>
					This action will delete the {{ .Project.Host }} project and all its related data. <br>
					Deleting a project can take a few minutes and can not be undone.
				</p>
			</div>		
		</div>
	</div>

</div>

<script type="text/javascript">
	let userAgent = document.getElementById('custom_user_agent');
	let userAgentInput = document.getElementById('user_agent_input');
	let toggleUserAgentInput = checked => userAgentInput.style.display = checked ? 'block' : 'none';

	// Initially hide the input if checkbox is not checked
	{{ if or .UserAgentError .CustomUserAgent }}userAgent.checked = true;{{ end }}
	toggleUserAgentInput(userAgent.checked)

	userAgent.addEventListener('change', function(e) {
		toggleUserAgentInput(e.currentTarget.checked);
	});
</script>

{{ end }}

{{ template "footer" . }}