<template id="replay-banner">
    <style>
        .banner {
            all: initial;
            position: fixed;
            top: 0;
            left:0;
            background: #F7E497;
            color: black;
            padding: 26px 16px;
            text-align: center;
            z-index: 999999;
            font-size: 16px;
            font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
            font-weight: normal;
            line-height: 26px;
            width: 100%;
        }
    </style>

    <div class="banner">
      <b>SEOnaut Replay</b> - You're viewing an archived version of this page
    </div>
</template>