{{ template "head" . }}

{{ with .Data }}
<a name="menu"></a>


<div class="panel">

<div class="box">
	
		<div class="col col-main">
			<div class="content">
				<a href="/issues/view?pid={{ .ProjectView.Project.Id }}&eid={{ .Eid }}">Back<!-- {{ trans .Eid }} --></a>
			</div>
		</div>
		

		<div class="col col-actions-l main-action">
			<div class="content">
				<a href="/dashboard?pid={{ .ProjectView.Project.Id }}">{{ .ProjectView.Project.Host }}</a>
			</div>
		</div>
<!--	<a href="/issues?pid={{ .ProjectView.Project.Id }}">Issues</a> / -->

</div>


	<div class="box">

		<div class="col col-main">
			<div class="content">
				{{ if .PageReportView.PageReport.Title }}
				{{ .PageReportView.PageReport.Title }} <br>
				{{ end }}
				 <a href="{{ .PageReportView.PageReport.URL }}" target="_blank" class="url" >{{ .PageReportView.PageReport.URL }}</a>
			 </div>
		</div>

		<div class="col">
			<div class="content">
		<div class="details-container">
			<details>
				<summary>
				{{ if eq .Tab "details" }} Details {{ end }}
				{{ if eq .Tab "inlinks" }} Inlinks {{ end }}
				{{ if eq .Tab "internal" }} Internal links {{ end }}
				{{ if eq .Tab "external"}} External links {{ end }}
				{{ if eq .Tab "redirections" }} Redirections {{ end }}
				{{ if eq .Tab "images" }} Images {{ end }}
				{{ if eq .Tab "audios" }} Audios {{ end }}
				{{ if eq .Tab "videos" }} Videos {{ end }}
				{{ if eq .Tab "iframes" }} Iframes {{ end }}
				{{ if eq .Tab "scripts" }} Scripts {{ end }}
				{{ if eq .Tab "styles" }} Styles {{ end }}
				</summary>
				<ul>
			<li><a href="/resources?pid={{ .ProjectView.Project.Id }}&rid={{ .PageReportView.PageReport.Id }}&eid={{ .Eid }}&t=details">→ Details</a></li>

			<li><a href="/resources?pid={{ .ProjectView.Project.Id }}&rid={{ .PageReportView.PageReport.Id }}&eid={{ .Eid }}&t=inlinks">→ Inlinks</a></li>

			<li><a href="/resources?pid={{ .ProjectView.Project.Id }}&rid={{ .PageReportView.PageReport.Id }}&eid={{ .Eid }}&t=internal">→ Internal links</a></li>

			<li><a href="/resources?pid={{ .ProjectView.Project.Id }}&rid={{ .PageReportView.PageReport.Id }}&eid={{ .Eid }}&t=external">→ External links</a></li>

			<li><a href="/resources?pid={{ .ProjectView.Project.Id }}&rid={{ .PageReportView.PageReport.Id }}&eid={{ .Eid }}&t=redirections">→ Redirections</a></li>

			<li><a href="/resources?pid={{ .ProjectView.Project.Id }}&rid={{ .PageReportView.PageReport.Id }}&eid={{ .Eid }}&t=audios">→ Audios</a></li>

			<li><a href="/resources?pid={{ .ProjectView.Project.Id }}&rid={{ .PageReportView.PageReport.Id }}&eid={{ .Eid }}&t=videos">→ Videos</a></li>

			<li><a href="/resources?pid={{ .ProjectView.Project.Id }}&rid={{ .PageReportView.PageReport.Id }}&eid={{ .Eid }}&t=images">→ Images</a></li>

			<li><a href="/resources?pid={{ .ProjectView.Project.Id }}&rid={{ .PageReportView.PageReport.Id }}&eid={{ .Eid }}&t=iframes">→ Iframes</a></li>

			<li><a href="/resources?pid={{ .ProjectView.Project.Id }}&rid={{ .PageReportView.PageReport.Id }}&eid={{ .Eid }}&t=scripts">→ Scripts</a></li>

			<li><a href="/resources?pid={{ .ProjectView.Project.Id }}&rid={{ .PageReportView.PageReport.Id }}&eid={{ .Eid }}&t=styles">→ Styles</a></li>
		</ul>
		</details>
	</div>
		</div>
	</div>
	</div>

	{{ $cid := .ProjectView.Crawl.Id }}
	{{ $pid := .ProjectView.Project.Id }}
	{{ $eid := .Eid }}

	{{ if eq .Tab "details" }}
	<div class="report-block">
		<div class="page-details">
			{{ $errorTypes := .PageReportView.ErrorTypes }}
			{{ with .PageReportView.PageReport }}
			<div class="report-box" >

				<div class="box" style="border-top:0">
					<div class="col borderless"><div class="content"><b>Blocked</b></div></div>
					<div class="col"><div class="content">
						{{ if .BlockedByRobotstxt }}Blocked{{ else }}Not blocked{{ end }} by robots.txt</div></div>
				</div>

				<div class="box">
					<div class="col borderless"><div class="content"><b>Status Code</b></div></div>
					<div class="col"><div class="content">{{ if .StatusCode }}{{ .StatusCode }}{{ else }}-{{ end }}</div></div>
				</div>

				<div class="box">
					<div class="col borderless"><div class="content"><b>Content Type</b></div></div>
					<div class="col"><div class="content">{{ if .ContentType }}{{ .ContentType }}{{ else }}-{{ end }}</div></div>
				</div>

				<div class="box">
					<div class="col borderless"><div class="content"><b>Size</b></div></div>
					<div class="col">
						<div class="content">{{ if .Size }}{{ .SizeInKB }}KB{{ else }} - {{ end }}</div>
					</div>
				</div>

				<div class="box">
					<div class="col borderless"><div class="content"><b>Robots</b></div></div>
					<div class="col"><div class="content">
						{{ if .Robots }}{{ .Robots }}{{ else }} - {{ end }}
					</div></div>
				</div>

				
				<div class="box">
					<div class="col borderless"><div class="content"><b>Redirect URL</b></div></div>
					<div class="col"><div class="content">
						{{ if .RedirectURL }}{{ .RedirectURL }}{{ else }} - {{ end }}
					</div></div>
				</div>

				<div class="box">
					<div class="col borderless"><div class="content"><b>Refresh</b></div></div>
					<div class="col"><div class="content">
						{{ if .Refresh }}{{ .Refresh }}{{ else }} - {{ end }}
					</div></div>
				</div>

				<div class="box">
					<div class="col borderless"><div class="content"><b>Canonical</b></div></div>
					<div class="col"><div class="content">
						{{ if .Canonical }}{{ .Canonical }}{{ else }} - {{ end }}
					</div></div>
				</div>

				<div class="box">
					<div class="col borderless"><div class="content"><b>Language</b></div></div>
					<div class="col"><div class="content">
						{{ if .Lang }}{{ .Lang }}{{ else }} - {{ end }}</div></div>
				</div>

				<div class="box">
					<div class="col borderless"><div class="content"><b>Hreflang</b></div></div>
					<div class="col"><div class="content">
						{{ if .Hreflangs }}
						<div class="hreflang-list">
							<span>Language</span>
							<span>URL</span>
						</div>
						{{ range .Hreflangs }}
							<div class="hreflang-list">
								<span>{{ if .Lang }}{{ .Lang }}{{ end }}</span>
								<span>{{ .URL }}</span>
							</div>
						{{ end }}
						{{ else }}
							-
						{{ end }}
					</div></div>
				</div>

				<div class="box">
					<div class="col borderless"><div class="content"><b>Title</b></div></div>
					<div class="col"><div class="content">{{ if .Title }}{{ .Title }}{{ else }} - {{ end }}</div></div>
				</div>

				<div class="box">
					<div class="col borderless"><div class="content"><b>Description</b></div></div>
					<div class="col"><div class="content">
						{{ if .Description }}{{ .Description }}{{ else }} - {{ end }}</div></div>
				</div>

					<div class="box">
						<div class="col borderless"><div class="content"><b>H1</b></div></div>
						<div class="col borderless"><div class="content">
							{{ if .H1 }}{{ .H1 }}{{ else }}-{{ end }}
						</div></div>
					</div>

					<div class="box">
						<div class="col borderless"><div class="content"><b>H2</b></div></div>
						<div class="col borderless"><div class="content">
							{{ if .H2 }}{{ .H2 }}{{ else }} - {{ end }}
						</div></div>
					</div>

					<div class="box">
						<div class="col borderless"><div class="content"><b>
							Words</b></div></div>
						<div class="col borderless"><div class="content">{{ if .Words }}{{ .Words }}{{ else }} - {{ end }}</div></div>
					</div>

					<div class="box">
						<div class="col borderless"><div class="content"><b>Issues</b></div></div>
<div class="col borderless"><div class="content">
							{{ if $errorTypes }}
							<ul>
							{{ range $errorTypes }}
									<li><a href="/issues/view?pid={{ $pid }}&eid={{ . }}">{{ trans . }}</a></li>
							{{ end }}
							</ul>
							{{ else }}
								-
							{{ end }}
						</div>
					</div>
					</div>
			</div>
			{{ end }}
		</div>
	</div>
	{{ end }}

	{{ if eq .Tab "inlinks" }}
		<div class="report-block">
			{{ if .PageReportView.InLinks }}
			<ul class="url-list">
				{{ range .PageReportView.InLinks }}
					<li>
						<div>
						{{ if .Title }}{{ .Title }}<br/>{{ end }}
						<a href="/resources?pid={{ $pid }}&rid={{ .Id }}&eid={{ $eid }}" class="url">{{ .URL }}</a>
						</div>
						<div><a href="/resources?pid={{ $pid }}&rid={{ .Id }}&eid={{ $eid }}">→ View details</a></div>
					</li>
				{{ end }}
			</ul>
			{{ else }}
				<p ><small>There are no links to this page.</small></p>
			{{ end }}
		</div>

		<div class="pagination">
			<div class="prev">
		{{ if (gt .PageReportView.Paginator.CurrentPage 1) }}
			<a href="/resources?pid={{ .ProjectView.Project.Id }}&rid={{ .PageReportView.PageReport.Id }}&eid={{ .Eid }}&t=inlinks&p={{ .PageReportView.Paginator.PreviousPage }}">← prev</a>
		{{ end }}

			</div>
			<div><small>{{ .PageReportView.Paginator.CurrentPage }}/{{ .PageReportView.Paginator.TotalPages }}</small></div>
			<div class="next">
						{{ if (gt .PageReportView.Paginator.TotalPages .PageReportView.Paginator.CurrentPage) }}
						<a href="/resources?pid={{ .ProjectView.Project.Id }}&rid={{ .PageReportView.PageReport.Id }}&eid={{ .Eid }}&t=inlinks&p={{ .PageReportView.Paginator.NextPage }}">next →</a>
				{{ end }}
				
			</div>
		</div>
	{{ end }}

	{{ if eq .Tab "redirections" }}
		<div class="report-block">
			{{ if .PageReportView.Redirects }}
				<ul class="url-list">
					{{ range .PageReportView.Redirects }}
						<li>
							<div>
							{{ if .Title }}{{ .Title }}<br/>{{ end }}
							<a href="/resources?pid={{ $pid }}&rid={{ .Id }}&eid={{ $eid }}" class="url">{{ .URL }}</a>
							</div>
							<div><a href="/resources?pid={{ $pid }}&rid={{ .Id }}&eid={{ $eid }}">→ View details</a></div>
						</li>
					{{ end }}
				</ul>
			{{ else }}
				<p ><small>There are no redirects to this page.</small></p>
			{{ end }}
		</div>
		
		<div class="pagination">
			<div class="prev">
		{{ if (gt .PageReportView.Paginator.CurrentPage 1) }}
			<a href="/resources?pid={{ .ProjectView.Project.Id }}&rid={{ .PageReportView.PageReport.Id }}&eid={{ .Eid }}&t=redirections&p={{ .PageReportView.Paginator.PreviousPage }}">← prev</a>
		{{ end }}

			</div>
			<div><small>{{ .PageReportView.Paginator.CurrentPage }}/{{ .PageReportView.Paginator.TotalPages }}</small></div>
			<div class="next">
						{{ if (gt .PageReportView.Paginator.TotalPages .PageReportView.Paginator.CurrentPage) }}
						<a href="/resources?pid={{ .ProjectView.Project.Id }}&rid={{ .PageReportView.PageReport.Id }}&eid={{ .Eid }}&t=redirections&p={{ .PageReportView.Paginator.NextPage }}">next →</a>
				{{ end }}
				
			</div>
		</div>
	{{ end }}

	{{ if eq .Tab "internal" }}
		<div class="report-block">
			{{ if .PageReportView.PageReport.Links }}
				<ul class="url-list">
					{{ range .PageReportView.PageReport.Links }}
						<li>
							<div>
							{{ if .Text }}{{ .Text }}<br/>{{ end }}
							<span class="url">{{ .URL }}</span>
							{{ if .NoFollow }}<br><span class="alert"><small>nofollow</small></span>{{ end }}
						</div>
						</li>
					{{ end }}
				</ul>
			{{ else }}
				<p ><small>There are no internal links in this page.</small></p>
			{{ end }}
		</div>
		
		<div class="pagination">
			<div class="prev">
		{{ if (gt .PageReportView.Paginator.CurrentPage 1) }}
			<a href="/resources?pid={{ .ProjectView.Project.Id }}&rid={{ .PageReportView.PageReport.Id }}&eid={{ .Eid }}&t=internal&p={{ .PageReportView.Paginator.PreviousPage }}">← prev</a>
		{{ end }}

			</div>
			<div><small>{{ .PageReportView.Paginator.CurrentPage }}/{{ .PageReportView.Paginator.TotalPages }}</small></div>
			<div class="next">
						{{ if (gt .PageReportView.Paginator.TotalPages .PageReportView.Paginator.CurrentPage) }}
						<a href="/resources?pid={{ .ProjectView.Project.Id }}&rid={{ .PageReportView.PageReport.Id }}&eid={{ .Eid }}&t=internal&p={{ .PageReportView.Paginator.NextPage }}">next →</a>
				{{ end }}
				
			</div>
		</div>
	{{ end }}

	{{ if eq .Tab "external" }}
		<div class="report-block">
			{{ if .PageReportView.PageReport.ExternalLinks }}
			<ul class="url-list">
				{{ range .PageReportView.PageReport.ExternalLinks }}
					<li>
						<div>
						{{ if .Text }}{{ .Text }} <br> {{ end }}
						<span class="url">{{ .URL }}</span>
						{{ if not .NoFollow }}<br><span class="alert"><small>follow</small></span>{{ end }}
						</div>
					</li>
				{{ end }}
			</ul>
			{{ else }}
				<p ><small>There are no external links in this page.</small></p>
			{{ end }}
		</div>
		
		<div class="pagination">
			<div class="prev">
		{{ if (gt .PageReportView.Paginator.CurrentPage 1) }}
			<a href="/resources?pid={{ .ProjectView.Project.Id }}&rid={{ .PageReportView.PageReport.Id }}&eid={{ .Eid }}&t=external&p={{ .PageReportView.Paginator.PreviousPage }}">← prev</a>
		{{ end }}

			</div>
			<div><small>{{ .PageReportView.Paginator.CurrentPage }}/{{ .PageReportView.Paginator.TotalPages }}</small></div>
			<div class="next">
						{{ if (gt .PageReportView.Paginator.TotalPages .PageReportView.Paginator.CurrentPage) }}
						<a href="/resources?pid={{ .ProjectView.Project.Id }}&rid={{ .PageReportView.PageReport.Id }}&eid={{ .Eid }}&t=external&p={{ .PageReportView.Paginator.NextPage }}">next →</a>
				{{ end }}
				
			</div>
		</div>
	{{ end }}

	{{ if eq .Tab "images" }}
		<div class="report-block">
			{{ if .PageReportView.PageReport.Images }}
			<ul class="url-list">
				{{ range .PageReportView.PageReport.Images }}
					<li>
						<div>
						{{ if .Alt}}{{ .Alt }}<br>{{ end }}
						<span class="url">{{ .URL }}</span>
						{{ if not .Alt}}<br><span class="alert">Missing or empty alt attribute</span>{{ end }}
						</div>
					</li>
				{{ end }}
			</ul>
			{{ else }}
				<p ><small>There are no images in this page.</small></p>
			{{ end }}
		</div>
	{{ end }}

	{{ if eq .Tab "iframes" }}
		<div class="report-block">
			{{ if .PageReportView.PageReport.Iframes }}
			<ul class="url-list">
				{{ range .PageReportView.PageReport.Iframes }}
					<li>
						<div>
						<span class="url">{{ . }}</span>
						</div>
					</li>
				{{ end }}
			</ul>
			{{ else }}
				<p ><small>There are no iframes in this page.</small></p>
			{{ end }}
		</div>
	{{ end }}

	{{ if eq .Tab "audios" }}
		<div class="report-block">
			{{ if .PageReportView.PageReport.Audios }}
			<ul class="url-list">
				{{ range .PageReportView.PageReport.Audios }}
					<li>
						<div>
						<span class="url">{{ . }}</span>
						</div>
					</li>
				{{ end }}
			</ul>
			{{ else }}
				<p ><small>There are no audios in this page.</small></p>
			{{ end }}
		</div>
	{{ end }}

	{{ if eq .Tab "videos" }}
		<div class="report-block">
			{{ if .PageReportView.PageReport.Videos }}
			<ul class="url-list">
				{{ range .PageReportView.PageReport.Videos }}
					<li>
						<div>
						<span class="url">{{ . }}</span>
						</div>
					</li>
				{{ end }}
			</ul>
			{{ else }}
				<p ><small>There are no videos in this page.</small></p>
			{{ end }}
		</div>
	{{ end }}

	{{ if eq .Tab "scripts" }}
		<div class="report-block">
			{{ if .PageReportView.PageReport.Scripts }}
			<ul class="url-list">
				{{ range .PageReportView.PageReport.Scripts }}
					<li><div><span class="url">{{ . }}</span></div></li>
				{{ end }}
			</ul>
			{{ else }}
				<p ><small>There are no scripts in this page.</small></p>
			{{ end }}
		</div>
	{{ end }}
	
	{{ if eq .Tab "styles" }}
		<div class="report-block">
		{{ if .PageReportView.PageReport.Styles }}
			<ul class="url-list">
				{{ range .PageReportView.PageReport.Styles }}
					<li><div><span class="url">{{ . }}</span></div></li>
				{{ end }}
			</ul>
		{{ else }}
			<p ><small>There are no styles in this page.</small></p>
		{{ end }}
		</div>
	{{ end }}

</div>
{{ end }}
{{ template "footer" . }}