{{ template "head_credentials" . }}

<div class="panel">
	<div class="box borderless">
		<div class="col col-main">
			<div class="content">
	
				<div id="header">
					<span class="logo"><a href="/signin">SEOnaut</a></span>
				</div>
	
				<div class="form-container">
					<div class="content">
						<h1>{{ trans "SIGN_IN" }}</h1>
						<form method="POST">
							<label for="email">{{ trans "EMAIL_LABEL" }}</label>
							<input type="email" name="email" value="{{ .Data.Email }}" required autofocus>
							<label for="password">{{ trans "PASSWORD_LABEL" }}</label>
							<input type="password" name="password" required>
							<input type="submit" value="{{ trans "SIGN_IN" }}">
						</form>

						{{ if .Data.Error }}
							<p class="error">{{ trans "SIGIN_ERROR" }}</p>
						{{ end }}
					</div>

					<div class="box-footer">
						<div class="content">
							{{ trans "NEW_USER" }} <a href="/signup">{{ trans "NEW_USER_SIGNUP" }}</a>
						</div>
					</div>
				</div>

				<div class="credentials-text">
					<small>{{ trans "SIGNIN_MESSAGE" }}</small>
				</div>
			</div>
		</div>
	</div>
</div>

{{ template "footer" . }}