{{ template "head_credentials" . }}

<div class="panel">
	<div class="box borderless">
		<div class="col col-main">
			<div class="content">

				<div id="header">
					<span class="logo"><a href="/signin">SEOnaut</a></span>
				</div>

				<form method="POST">
					<label for="email">Email:</label>
					<input type="email" name="email" value="{{ .Data.Email }}" autofocus>
					<label for="password">Password:</label>
					<input type="password" name="password">
					<input type="submit" value="Sign Up">
				</form>

				{{ if .Data.Error }}
					<p class="error">{{ .Data.ErrorMessage }}</p>
				{{ end }}

				<p>
					Already have an account? <a href="/signin">Sign in</a>
				</p>

			</div>
		</div>
	</div>
</div>

{{ template "footer" . }}