{{ template "head_credentials" . }}

<div class="panel">
	<div class="box borderless">
		<div class="col col-main">
			<div class="content">

				<div id="header">
					<span class="logo"><a href="/signin">SEOnaut</a></span>
				</div>

				<div class="form-container">
					<div class="content">
						<h1>{{ trans "CREATE_ACCOUNT" }}</h1>
						<form method="POST">
							<label for="email">{{ trans "EMAIL_LABEL" }}</label>
							<input type="email" name="email" value="{{ .Data.Email }}" required autofocus>
							<label for="password">{{ trans "PASSWORD_LABEL" }}</label>
							<input type="password" name="password" required>
							<input type="submit" value="{{ trans "SIGN_UP" }}">
						</form>

						{{ if .Data.Error }}
							<p class="error">{{ .Data.ErrorMessage }}</p>
						{{ end }}
					</div>

					<div class="box-footer">
						<div class="content">
							{{ trans "HAVE_ACCOUNT" }} <a href="/signin">{{ trans "SIGNIN_LINK" }}</a>
						</div>
					</div>
				</div>

				<div class="credentials-text">
					<small>{{ trans "SIGNUP_MESSAGE" }}</small>
				</div>
			</div>
		</div>
	</div>
</div>

{{ template "footer" . }}