{{ template "head" . }}

<div class="content">
	<h1 class="title">Upgrade your account</h1>
	<div class="action">
		<a href="/" style="font-size: 1rem">← Back</a>
	</div>
</div>

<div class="content">
	<h2><b>Upgrade to advanced account</b></h2>
	<ul>
		<li>Up to 6 projects</li>
		<li>Up to 5000 crawled URLs per project</li>
	</ul>

	<form action="/create-checkout-session" method="POST">
		<input type="hidden" id="basicPrice" name="priceId">
		<p>Advanced account subscription: $49/month</p>
		<button class="button" id="basic-plan-btn">Upgrade</button>
	</form>

	<div id="error-message" class="error-message"></div>

</div>
	
<script src="https://js.stripe.com/v3/"></script>
<script>
	fetch("/config")
	.then(r => r.json())
	.then(({basicPrice}) => {
		const basicPriceInput = document.querySelector('#basicPrice');
		basicPriceInput.value = basicPrice;
	})

	// If a fetch error occurs, log it to the console and show it in the UI.
	var handleFetchResult = function(result) {
		if (!result.ok) {
			return result.json().then(function(json) {
				if (json.error && json.error.message) {
					throw new Error(result.url + ' ' + result.status + ' ' + json.error.message);
				}
			}).catch(function(err) {
				showErrorMessage(err);
				throw err;
			});
		}
		return result.json();
	};

	var showErrorMessage = function(message) {
		var errorEl = document.getElementById("error-message")
		errorEl.textContent = message;
		errorEl.style.display = "block";
	};
	</script>

{{ template "footer" . }}