html, body {
	height: 100%;
}

body {
	font-display: fallback;
	font-family: var(--main-fontfamily);
	line-height: 1.6rem;
	font-size: 1rem;
	padding: 0;
	background-color: var(--main-bg-color);
	margin:0;
	text-rendering: optimizeLegibility;
	cursor: crosshair;
}

p {
	margin-top: .2rem;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li {
	margin-bottom: 1rem;
}

ul li:last-child {
	margin-bottom: 0;
}

a {
	border-bottom: 1px dotted var(--primary-color);
	color: var(--primary-color);
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	border-bottom: 1px solid var(--primary-color);
}

a.icon-link {
	opacity: .5;
}

a.icon-link:hover {
	opacity: 1;
}

a.borderless {
	border: none;
}

input {
	font-family: var(--main-fontfamily);
	font-size: inherit;
	font-weight: 300;
	border: 1px solid var(--primary-color);
	padding: .5rem;
	display: block;
	margin-bottom: 1rem;
	width: 25rem;
	max-width: 100%;
	box-sizing: border-box;
	background-color: var(--light-bg-color);
	border-radius: 0;
	line-height: 1.5rem;
}

input[type="submit"] {
	background: var(--secondary-color);
	border-top: 1px solid var(--primary-color);
	border-left: 1px solid var(--primary-color);
	border-bottom: 2px solid var(--primary-color);
	border-right: 2px solid var(--primary-color);
	border-radius: 0;
	color: var(--primary-color);
	cursor: pointer;
	font-weight: normal;
	margin-left: 0;
	margin-top: 1.5rem;
	width: auto;
	padding: .5rem 1.5rem;
	text-align: center;
	min-width: 10rem;
}

input[type="submit"]:hover {
	box-shadow: 2px 2px 0 black;
	background-color: var(--highlight-color);
}

label {
	display: block;
	font-weight: 400;
}

label.checkbox {
	display: inline-block;
	margin-left: .5rem;
}

h2 {
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 1.6rem;
	margin: 0;
}

button {
	cursor: pointer;
	font-size: inherit;
	padding: .5rem 1rem;
}

summary {
	padding-right: 1.5rem;
	cursor: pointer;
	border-bottom: 1px dotted var(--primary-color);
	width: 15rem;
}

summary:hover {
	border-bottom-style: solid;
}

details[open] > summary {
		border-color: transparent;
}

details {
	position:relative;
	width: 100%;
}

details ul {
	background-color: var(--secondary-color);
	border: 1px solid var(--primary-color);
	width: 80%;
	margin: 0 0 0 -1.5rem;
	position:absolute;
	padding: 1rem 0;
}

details ul li {
	margin: 0rem;
}

details ul li a {
	display: block;
	padding: .5rem 1.5rem;
	border: none;
}

details ul li a:hover {
	background-color: var(--highlight-color);
	border: none;
}