html, body {
	min-height: 100%;
}

body {
	font-display: fallback;
	font-family: var(--main-fontfamily);
	line-height: 1.6rem;
	font-size: 1rem;
	padding: 0;
	background-color: var(--main-bg-color);
	margin:0;
	text-rendering: optimizeLegibility;
	border: 1px solid var(--primary-color);
	min-height: 100%;
	cursor: crosshair;
}

p {
	margin-top: .5rem;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li {
	margin-bottom: 1rem;
}
ul li:last-child {
	margin-bottom: 0;
}

a {
	border-bottom: 1px dotted var(--primary-color);
	color: var(--primary-color);
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid var(--primary-color);
}

a.borderless {
	border: none;
}

input {
	font-size: inherit;
	border: 1px solid var(--border-color);
	padding: .5rem;
	display: block;
	margin-bottom: 1rem;
	width: 25rem;
	background-color: var(--light-bg-color);
	border-radius: 5px;
	line-height: 1.5rem;
}

input[type="submit"] {
	cursor: pointer;
	margin-left: 0;
	color: var(--secondary-color);
	border: none;
	margin-top: 1.5rem;
	background-color: var(--action-color);
	width: auto;
	padding: .5rem 1.5rem;
}

input[type="submit"]:hover {
	background-color: var(--secondary-highlight-color);
}

label {
	display: block;
}

label.checkbox {
	display: inline-block;
	margin-left: .5rem;
}

form {
	margin-bottom: 3rem;
}

h2 {
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 1.2rem;
	margin: 0;
}

button {
	cursor: pointer;
	font-size: inherit;
	padding: .5rem 1rem;
}

summary {
	padding: 1rem;
	cursor: pointer;
	list-style: none;
}

details {
	position:relative;
}

details ul {
	background-color: var(--secondary-color);
	border: 1px solid var(--primary-color);
	width: 80%;
	margin: 0 0 0 -1.5rem;
	position:absolute;
	padding: 1rem 0;
}

details ul li {
	margin: 0rem;
}

details ul li a {
	display: block;
	padding: .5rem 1.5rem;
	border: none;
}

details ul li a:hover {
	background-color: var(--highlight-color);
	border: none;
}