html, body {
	height: 100%;
}

body {
	font-display: fallback;
	font-family: var(--main-fontfamily);
	line-height: var(--line-height);
	font-size: 1rem;
	padding: 0;
	background-color: var(--main-bg-color);
	margin:0;
	text-rendering: optimizeLegibility;
	cursor: crosshair;
}

p {
	margin-top: 0;
	margin-bottom: var(--line-height);
}

p:last-child {
	margin-bottom: 0;
}

form {
    width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li {
	margin-bottom: var(--line-height);
}

ul li:last-child {
	margin-bottom: 0;
}

a {
	border-bottom: 1px dotted var(--primary-color);
	color: var(--primary-color);
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	border-bottom: 1px solid var(--primary-color);
}

a.icon-link {
	opacity: .5;
	display: inline-block;
	background-color: white;
	padding: calc(calc(var(--line-height) / 2) - 2px);
	border: 1px dotted var(--primary-color);
	border-radius: 50px;
	margin-top: calc(0px - calc(var(--line-height) / 2));
}

a.icon-link:hover {
	opacity: 1;
	background-color: var(--highlight-color);
}

a.icon-link svg {
	height: 24px;
	width: 24px;
}

a.icon-link p {
	height: var(--line-height);
}

a.borderless {
	border: none;
}

input {
	font-family: var(--main-fontfamily);
	font-size: inherit;
	font-weight: 300;
	border: 1px solid var(--primary-color);
	padding: calc(var(--line-height) / 2) .5rem;
	display: block;
	margin-bottom: var(--line-height);
	width: 25rem;
	max-width: 100%;
	box-sizing: border-box;
	background-color: var(--light-bg-color);
	border-radius: 0;
	line-height: calc(var(--line-height) - 2px);
}

input[type="submit"] {
	background: var(--secondary-color);
	border-top: 1px solid var(--primary-color);
	border-left: 1px solid var(--primary-color);
	border-bottom: 2px solid var(--primary-color);
	border-right: 2px solid var(--primary-color);
	border-radius: 0;
	color: var(--primary-color);
	cursor: pointer;
	font-weight: normal;
	margin-left: 0;
	margin-top: var(--line-height);
	width: auto;
	padding: calc(var(--line-height) / 2) 1.5rem;
	text-align: center;
	min-width: 10rem;
	line-height: calc(var(--line-height) - 3px);
}

input[type="submit"]:hover {
	box-shadow: 2px 2px 0 black;
	background-color: var(--highlight-color);
}

label {
	display: block;
	font-weight: 400;
}

label.checkbox {
	display: inline-block;
	margin-left: .5rem;
}

h2 {
	font-size: 1.2rem;
	font-weight: normal;
	line-height: var(--line-height);
	margin: 0;
}

h2 svg {
	margin-bottom: -.2rem;	
}

button {
	cursor: pointer;
	font-size: inherit;
	padding: .5rem 1rem;
}

summary {
	background: var(--secondary-color);
	border-top: 1px solid var(--primary-color);
	border-left: 1px solid var(--primary-color);
	border-bottom: 2px solid var(--primary-color);
	border-right: 2px solid var(--primary-color);
	cursor: pointer;
	padding: calc(var(--line-height) / 2) 1.5rem;
	width: 15rem;
	line-height: calc(var(--line-height) - 2px);
}

summary:hover {
    background-color: var(--highlight-color);
	border-bottom-style: solid;
	box-shadow: 2px 2px 0 black;
}

details[open] > summary {
		border-bottom-color: transparent;
}

details {
	position:relative;
	width: 100%;
}

details ul {
	background-color: var(--secondary-color);
	border: 1px solid var(--primary-color);
	width: 80%;
	margin: 0 0 0 -1.5rem;
	position:absolute;
	padding: 1rem 0;
}

details ul li {
	margin: 0rem;
}

details ul li a {
	display: block;
	padding: calc(var(--line-height) / 2) 1.5rem;
	border: none;
}

details ul li a:hover {
	background-color: var(--highlight-color);
	border: none;
}

select {
    background-color: white;
    border: 1px solid var(--primary-color);
    display: inline-block;
    font: inherit;
    line-height: 1.625em;
    padding: 0.5em 3.5em 0.5em 1em;
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 25rem;
	border-radius: 0;
	cursor: pointer;
    
    
    background-image:
      linear-gradient(45deg, transparent 50%, var(--primary-color) 50%),
      linear-gradient(135deg, var(--primary-color) 50%, transparent 50%),
      linear-gradient(to right, var(--primary-color), var(--primary-color));
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
}

select:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, var(--primary-color), var(--primary-color));
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

details.issue-details summary {
	border: 0;
	width: 100%;
	background:none;
	padding: 0;
	font-size: 1.2rem;
	font-weight: normal;
	line-height: var(--line-height);
}

details.issue-details summary:hover {
    background: none;
	box-shadow: none;
}

details[open].issue-details > summary {
	margin-bottom: var(--line-height);
}
