.box {
	border-bottom: 1px solid var(--primary-color);
	box-sizing: border-box;
	display: flex;
	font-weight: 300;
	max-width: 100%;

}

.box-first {
	border-top: 1px solid var(--primary-color);
}

.box .col {
	border-right: 1px dotted var(--primary-color);
	width: 50%;
}

.box .col:last-child {
	border-right: none;
}

.box .col-main {
	flex: 1;
	justify-content: space-between;
	display:flex;
	flex-direction: column;
}

.box .col-actions {
	display: flex;
	flex-direction: column;
	width: 20rem;
}

.box .col-actions-l {
	width: 30rem;
}

.box .col-s {
	width: 10rem;
}

.box .col-m {
	width: 20rem;
}

.box.inverted {
	border-top: 1px dotted var(--primary-color);
}

.box-highlight {
	background-color: var(--secondary-color);
}

.col.highlight {
	background-color: var(--secondary-color);
}

.box.borderless, .box .col.borderless {
	border: none;
}

.box.soft {
	border-bottom-style: dotted;
}

.col-actions a {
	display: block;
	border-bottom: 1px dotted var(--primary-color);
	padding: calc(var(--line-height) / 2) 1.5rem;
	text-align: center;
	line-height: calc(var(--line-height) - 1px);
}
.col-actions a.main {
	line-height: calc(var(--line-height) - 1px);
}
.col-actions a:hover,
.col-actions a.highlight:hover {
	background-color: var(--highlight-color);
}

.col-actions a.highlight {
	background-color: var(--secondary-color);
}

.col-actions a.borderless {
	border: none;
}

.col-right {
	text-align: right;
	max-width: 20%;
}

@media only screen and (max-width: 820px) {
	.box {
		flex-direction: column;
	}

	.box.always-row {
		flex-direction: row;
		border-top: 0;
	}

	.box .col {
		flex: 1;
		width: 100%;
	}

	.col-actions a:first-child {
		border-top: 1px dotted var(--primary-color);
	}

	.col-right {
		max-width: 100%;
	}
}
