.chart {
	margin-top: 1.5rem;
	width:100%;
	height: 20rem;
}

.links-chart,
.follow-chart {
	width: 100%;
	height: 25rem;
}

.issues-chart {
	width: 100%;
	height: 25rem;
}

.crawl-chart {
	width: 100%;
	height: 20rem;
}

.issues-timeline-chart {
	width: 100%;
	height: 20rem;
}