#main {
	min-height: 100%;
}

.content {
	box-sizing: border-box;
	padding: 3rem;
}

.content-centered {
	display: flex;
	align-items: center;
	height: 100%;
}

.panel {
	min-height: 30rem;
	overflow: hidden;
}

.project-title {
	display: flex;
	align-items: center;
	padding: 3rem;
}

.project-title h2 {
	font-size: 1.2rem;
	margin: 0;
	font-weight: 400;
	margin-left: 1rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	flex: 1;
}

.status-ko {
	background-color: var(--row-issue-color);
}

.status-ok {
	background-color: var(--crawler-section-secondary-color);
}

.action {
	padding-bottom: 5rem ;
	line-height: 3rem;
	font-size: 1.4rem;
	background-color: var(--main-bg-color);
}

.action a {
	font-weight: 300;
}

.url {
	word-wrap: break-word;
	font-weight: 300;
}


.credentials {
	width: 25rem;
	margin: 0 auto;
}

.title {
	font-weight: 600;
}

.logout {
	float: right;
	line-height: 2rem;
	font-weight: 300;
}

.logout a {
	font-decoration: none;
	color: var(--primary-color);
	margin-left: 1rem;
}

.project-add-container {
	background-color: var(--secondary-color);
	padding: 2.5rem 0;
	font-weight: 300;
}

.project-add-col {
	width:50%;
	padding: 3rem;
	color: var(--secondary-light-color);
}

.project-add-col:nth-child(2) {
	padding-left: 0;
}

.project-form-container {
	background-color: var(--main-section-color);
	background: linear-gradient(to right, var(--main-section-color), var(--main-section-secondary-color));
	border-radius: 10px;
}

.col-actions a.project-crawl {
	padding: 3rem 1.5rem;
	background-color: var(--secondary-color);
	border-bottom: none;
}

.main-action {
	background-color: var(--main-section-color);
	padding: 3rem;
	text-align: center;
}

.project-delete {
	display: inline-flex;
	left:1.5rem;
	border: 0;
	margin-top: 1rem;
}

.project-delete span {
	margin-left: 1rem;
}

.flex-container {
	display: flex;
	flex-direction: row;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-bottom: 3rem;
}

.page-details {
	font-weight: 300;
}

.crawler-item {
	display: flex;
	align-items: center;
	height: 24px;
}

.crawler-item span {
	margin-left: 1rem;
}

span.alert {
	background-color: var(--alert-color);
	color: var(--secondary-color);
	padding: .2rem .5rem;
	border-radius: 5px;
	font-weight: 300;
	font-size: .8rem;
}

.secondary-container {
	overflow: hidden;
	background-color: var(--main-bg-color);
}

p.error {
	color: var(--tertiary-section-color);
}

.flex-container {
	display: flex;
}


.label {
	margin-left: 1rem;
	font-weight: 400;
}


