.content { padding: 0 3rem; }

.action {
	padding-bottom: 5rem ;
	line-height: 3rem;
	font-size: 1.4rem;
	background-color: var(--main-bg-color);
}
.action a {
	font-weight: 300;
}
.url {
	word-wrap: break-word;
	font-weight: 300;
	font-size: .8rem;
}

#header {
	padding: 3rem 0 5rem 0;
	background-color: var(--main-bg-color);
}

#main {
	min-height: 100%;
}

#footer {
	background-color: var(--secondary-color);
	font-size: .8rem;
	padding: 3rem 0;
}

#footer a {
	border: 0;
	color: var(--primary-light-color);
	margin-right: 1.5rem;
}

.credentials {
	width: 25rem;
	margin: 0 auto;
}

.logo {
	background-color: var(--primary-color);
	font-family: var(--secondary-fontfamily);
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: .1rem;
	line-height: 2rem;
	margin: 0;
	padding: .5rem 6rem .5rem .5rem;
	text-decoration: none;
}
.logo a {
	color: var(--secondary-color);
	text-decoration: none;
	font-size: 1rem;
	font-weight: 600;
	border: none;
}
.logo a:hover {
	text-decoration: none;
}

.title {
	font-weight: 600;
}

.logout {
	float: right;
	line-height: 2rem;
	font-weight: 300;
}
.logout a {
	font-decoration: none;
	color: var(--primary-color);
	margin-left: 1rem;
}
.url-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.url-list li {
	background-color: var(--secondary-color);
	margin-bottom: 0rem;
	padding: 1.5rem 1.5rem;
	display: flex;
	align-items: center;
}
.url-list li:nth-child(odd) {
	background-color: var(--tertiary-light-color);
}
.url-list li.url {
	padding: 0.5rem 1rem;
	word-wrap: break-word;
}
.url-list div:nth-child(1) {
	width: 75%;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100ch;
	white-space: nowrap;
}
.url-list div:nth-child(2) {
	text-align: right;
	width: 30%;
	align-items:center;
}
.url-list div:nth-child(2) a {
	color: var(--highlight-color);
}
.url-list a {
	color: var(--primary-color);
	text-decoration: none;
	font-weight: 300;
	border: 0;
}
.url-list .description {
	font-size: .8rem;
	color: var(--secondary-light-color);
	margin-top: .5rem;
}
.project-add-container {
	background-color: var(--secondary-color);
	padding: 2.5rem 0;
	font-weight: 300;
}
.project-add-col {
	width:50%;
	padding: 3rem;
	color: var(--secondary-light-color);
}
.project-add-col:nth-child(2) {
	padding-left: 0;
}
.project-form-container {
	background-color: var(--main-section-color);
	background: linear-gradient(to right, var(--main-section-color), var(--main-section-secondary-color));
	border-radius: 10px;
}
.project-container {
	background-color: var(--secondary-color);
	overflow: hidden;
	min-height: 100%;
}
.project {
	padding: 0;
	font-weight: 300;
	background-color: var(--main-bg-color);
	border-radius: 10px;
	box-sizing: border-box;
	width: 100%;
	padding: 3rem;
	margin: 2.5rem 0;
	display: flex;
}
.project-add {
	background-color: var(--main-section-color);
	background: linear-gradient(to right, var(--main-section-color), var(--main-section-secondary-color));
	font-weight: 300;
	padding: 1.5rem;
}
.project-add-button {
	border: none; 
	text-align:center;
	width: 25%;
	background-color: var(--light-opacity-color);
	padding: 1.5rem 1.5rem;
	border-radius: 15px;
	margin-right: 3rem;
	font-size: 1rem;
}
.project-add-button:hover {
	background-color: var(--light-opacity-secondary-color);
}
.project p {
	margin-bottom: 0;
}
.project li {
	font-weight: 300;
}
.project-title {
	display: flex;
	align-items: center;
}
.project-title h2 {
	font-size: 1.2rem;
	margin: 0;
	font-weight: 400;
	margin-left: 1rem;
}

.project-title a {
	color: var(--primary-color);
}
.project-link {
	color: var(--highlight-color);
	border: none;
}
.project-crawl {
	display: flex;
	position:absolute;
	bottom: 0;
	left:1.5rem;
	border: 0
}
.project-crawl span {
	margin-left: 1rem;
}
.project-buttons {
	margin-top: 3rem;
	box-sizing: border-box;
	display: flex;
}
.issues-chart {
	width: 100%;
	height: 25rem;
	margin-bottom:5rem;
}
.issues-chart-buttons {
	text-align: center;
	margin-bottom: 5rem;
}
.issues-buttons {
	margin-top: 0;
}
.issues-buttons .button:hover,
.project-buttons .button:hover,
.button:hover {
	background-color: var(--secondary-highlight-color);
}
.issues-buttons .button,
.project-buttons .button, .button {
	color: var(--secondary-color);
	box-shadow: 5px 5px transparent;
	border-radius: 5px;
	box-sizing: border-box;
	line-height: 1rem;
	font-size:1rem;
	margin-right:1rem;
	box-sizing: border-box;
	background-color: var(--highlight-color);
	border: none;
}

.link-out {
	border-bottom: none;
	color: var(--secondary-color);
}
.pagereport-title {
	margin-bottom: 3rem;
}
.pagereport-errors {
	margin-bottom: 0;
	list-style: none;
	padding: 0;
}
.pagereport-errors a {
	color: var(--highlight-color);
	border: 0;
}
.issue-panel {
	min-height: 30rem;
	background-color: var(--secondary-color);
	padding-top: 3rem;
	overflow: hidden;
}
.issues-empty {
	margin: 3rem 1.5rem;
	font-weight: 400;
}
.issue-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-items: stretch;
}
.issue-col:nth-child(1) {
	width:70%;
}
.issue-links {
	text-align: left;
	padding-left: 3rem;
}
.issue-links a {
	color: var(--highlight-color);
	border: none;
}
.flex-container {
	display: flex;
	flex-direction: row;
}
.charts-container {
	padding: 5rem 0;
	align-items: center;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-bottom: 3rem;
}
.chart-col {
	box-sizing: border-box;
	width: 50%;
	padding-bottom: 0;
}
.chart-col h2 {
	margin: 0 0 3rem 0;
	padding: 0;
}
.chart-block {
	background-color: var(--secondary-color);
}
.crawl-chart-container {
	background-color: var(--main-section-color);
	background: linear-gradient(to right, var(--main-section-color), var(--main-section-secondary-color));
	padding: 6rem 0;
}
.crawl-chart {
	width: 100%;
	height: 20rem;
}
.issues-timeline-container {
	width: 100%;
	padding: 6rem 0;
}
.issues-timeline-chart {
	width: 100%;
	height: 30rem;
}
.bottom-margin {
	margin: 0 0 3rem 0;
}
.col {
	box-sizing: border-box;
	padding-bottom: 3rem;
	width: 50%;
	display: block;
	margin:0;
	padding:0;
	position:relative
}
.col:nth-child(odd) {
	padding-right: 1.5rem;
}
.col:nth-child(even) {
	padding-left: 1.5rem;
}

.col h2 {
	width: 10rem;
	display: inline-block;
	text-align: center;
}
.col-s {
	width: 11rem;
}
.page-details {
	font-weight: 300;
}
.col li {
	font-weight: 300;
	font-size: .9rem;
}
a.button {
	border: none;
	padding: .5rem 1.5rem;
}

.crawler-item {
	display: flex;
	align-items: center;
	height: 24px;
}
.crawler-item span {
	margin-left: 1rem;
}
.pagination {
	align-items: center;
	background: linear-gradient(to right, var(--secondary-section-color), var(--secondary-section-secondary-color));
	margin: 3rem 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--secondary-color);
	border-radius: 10px;
	padding: 1.5rem;
	margin-bottom: 3rem;
	display: flex;
}

.pagination .prev , .pagination .next  {
	width: 50%;
}
.pagination .next {
	text-align: right;
}
.pagination .prev a, .pagination .next a {
	font-size: .8rem;
	border: 0;
	font-weight: 300;
	color: var(--secondary-color);
}

.url-header {
	background: linear-gradient(to right, var(--secondary-section-color), var(--secondary-section-secondary-color));
	color: var(--secondary-color);
	border-radius: 10px;
	padding: 1.5rem;
	margin-bottom: 3rem;
	display: flex;
	align-items: center
}
.url-header .col1 {
	width: 75%;
	margin-right: 1.5rem;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.url-header p {
	margin: 0;
	font-weight:400;
}
.url-header .url-button {
	text-align: center;
	width: 25%;
	background-color: var(--light-opacity-color);
	border-radius: 15px;
	color: var(--secondary-color);
	border:0;
	font-weight: 300
}
.url-header .url-button a {
	display: inline-block;
	color: var(--secondary-color);
	border: 0;
	padding: 1rem;
}

.url-header svg {
	fill: var(--secondary-color);
}


.details-container {
	background-color: var(--light-opacity-color);
	width: 25%;
	padding: 0 1.5rem;
	border-radius: 15px;
}

.issues {
	margin-bottom: 1.5rem;
	font-weight: 300;
	background-color: var(--secondary-color);
	border-radius: 10px;
	box-sizing: border-box;
	padding: 1.5rem;
}
.issues:nth-child(odd) {
	background-color: var(--row-issue-color);
}
.issue-description {
	padding: 0 2.5rem .5rem 2.5rem;
}

.issues svg {
	vertical-align: baseline;
	transform: translateY(2px);
}

.issues h2 {
	margin: 0;
	line-height: 1.6rem;
	display: inline-block;
	margin-bottom:1.5rem;
}
.issues p {
	margin: 0;
	margin-bottom: 1.5rem;
}
.issues-header {
	background: linear-gradient(to right, var(--tertiary-section-color), var(--tertiary-section-secondary-color));
	color: var(--secondary-color);
	padding: 1.5rem; 
	border-radius: 10px;
	margin-bottom: 1.5rem;
}
.issues-header p {
	margin: 0;
}
.issues-header h2 {
	margin: 0 0 1.5rem 0;
}
.critical-issues {
	margin-bottom: 3rem;
}
.alert-issues {
	margin-bottom: 3rem;
}
.notice-issues {
	margin-bottom: 3rem;
}

span.alert {
	background-color: var(--alert-color);
	color: var(--secondary-color);
	padding: .2rem .5rem;
	border-radius: 5px;
	font-weight: 300;
	font-size: .8rem;
}

.tabs {
	margin-bottom: 0;
	background-color: var(--secondary-color);
	padding: 1.5rem 3rem;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.tabs ul {
	padding:0;
}
.tabs ul li {
	display: inline-block;
	list-style-type: none;
	padding: 0;
	margin: .5rem 0;
}

a.active {
	font-weight: 600;
}

.button.active:hover {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

.action-buttons {
	margin-bottom: 3rem;
	margin-top: .5rem
}
.box {
	border-radius: 5px;
	box-shadow: 5px 5px var(--shadow-color);
	border-top: 1px solid var(--shadow-color);
	border-left: 1px solid var(--shadow-color);
}

.report-block {
	margin-bottom: 5rem;
}

.center {
	text-align: center;
}

.crawler-container {
	background-color: var(--main-bg-color);
	border-radius: 10px;
	padding: 5rem;
}
.crawler-layout {
	display:flex;
	flex-wrap: wrap;
	color: var(--secondary-light-color);
}

.crawler-col {
	width: 50%;
}

/** CHARTS **/

.secondary-container {
	overflow: hidden;
	background-color: var(--main-bg-color);
}
.light-chart-container {
	background-color: var(--secondary-color);
	padding: 5rem 0;
}

.links-chart {
	width: 100%;
	height: 20rem;
}
.chart-container {
	background-color: var(--secondary-color);
	padding: 3rem 1.5rem;
	border-radius: 5px;
	box-shadow: 5px 5px var(--shadow-color);
	border-top: 1px solid var(--shadow-color);
	border-left: 1px solid var(--shadow-color);
	width: 100%;
}

.chart-container h2 {margin:0;}

.chart {
	margin-top: 1rem;
	border-radius: 50%;
	width: 10rem;
	height: 10rem;
	position: relative;
}

.chart:after {
	position: absolute;
	background-color: var(--main-bg-color);
	top: 3rem;
	bottom: 3rem;
	left: 3rem;
	right: 3rem;
	content: " ";
	border-radius: 50%;
}

.legend-block {
	padding-bottom: 5rem;
	padding-top: 5rem;
	background-color: var(--main-bg-color);;
}

.legend p {
	margin-bottom: 0;
	font-weight: 300;
}
.legend {
	box-sizing: border-box;
	width: 30%;
	background-color: var(--secondary-color);
	padding: 1rem;
}

.legend:nth-child(1) {
	border-left: 2rem solid var(--tertiary-section-color);
	margin-right: 5%;
}

.legend:nth-child(2) {
		border-left: 2rem solid var(--main-section-color);
}

.legend:nth-child(3) {
	margin-left: 5%;
	border-left: 2rem solid var(--secondary-section-color);
}

p.error {
	color: var(--tertiary-section-color);
}

.flex-container {
	display: flex;
}
.toggle-container {
	display:flex;
}

.toggle-help {
	display: block;
	padding-left: 4rem;
}
.toggle {
	--width: 3rem;
	--height: 1.5rem;
	position: relative;
	display: inline-block;
	width: var(--width);
	height: var(--height);
	box-shadow: 0px 1px 3px var(--dark-opacity-color);
	border-radius: var(--height);
	cursor: pointer;
}

.toggle input {
	display: none;
}

.toggle .slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: var(--height);
	background-color: var(--dark-opacity-color);
	transition: all 0.2s ease-in-out;
	}

.toggle .slider::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: calc(var(--height));
	height: calc(var(--height));
	border-radius: calc(var(--height) / 2);
	background-color: var(--secondary-color);
	box-shadow: 0px 1px 3px var(--dark-opacity-color);
	transition: all 0.2s ease-in-out;
}

.toggle input:checked+.slider {
	background-color: var(--secondary-section-color);
}

.toggle input:checked+.slider::before {
	transform: translateX(calc(var(--width) - var(--height)));
}

.label {
	margin-left: 1rem;
	font-weight: 400;
}

.section-title {
	display: flex;
	align-items: center;
	margin-bottom: 3rem;
}

.section-title h1 {
	margin-left: 1rem;
}

.url-detail {
	display:flex;
	flex-wrap:wrap;
	padding: 1.5rem;
}
.url-detail:nth-child(odd) {
	background-color: var(--tertiary-light-color);
}
.url-detail div:nth-child(1) {
	width: 15%;
	font-weight: 400;
}
.url-detail div:nth-child(2) {
	width: 75%;
}

.url-detail div:nth-child(1).hreflang-list {
	width: 100%;
}
.url-detail div:nth-child(2).hreflang-list {
	width: 100%;
}
.hreflang-list {
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-size: .8rem;
	display: block;
	box-sizing: border-box;
	width: 100%;
	display: flex;
}
.hreflang-list span {
	display: inline-block;
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
.hreflang-list span:nth-child(1) {
	width: 25%;
}
.hreflang-list span:nth-child(2) {
	width: 75%;
	max-width: 	75%;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}
.url-detail-table {
	font-size:.8rem;
	max-width: 100%;
	width:100%;
}
.url-detail-table tr th {
	font-weight: 600;
	text-align: left;
}
.url-detail-table tr th:nth-child(1) {
	width: auto;
	background:red;
}
.url-detail-table tr th:nth-child(2) {
	width: 75% !important;
}

.url-detail-table tr td {
	font-weight: 300;
	padding: .5rem 0;
	display: inline-block;
}
.url-detail-table tr td:nth-child(2) {
	width: 75%;
	margin:0;
}
.url-detail .url-detail-table div:nth-child(1) {
	white-space: nowrap;
	max-width:100%;
	overflow:hidden;
	text-overflow: ellipsis;
	width: 100%;
}
.url-detail-table tr td:nth-child(1) {
	width: 25%;
	background: green;
}

.url-block {
	margin-bottom: .5rem;
	border-radius: 5px;
	background-color: var(--crawler-section-secondary-color);
	line-height: 2rem;
	display: flex;
}

.url-block.ko {
	background-color: var(--row-issue-color);
}

.url-block .status-code {
	line-height: 1rem;
	border-radius: 5px;
	background-color: var(--crawler-section-color);
	color: var(--secondary-color);
	padding: .5rem 1rem;
	display: inline-block;
	line-height: 2rem;;
}

.url-block.ko .status-code {
	background-color: var(--tertiary-section-color);
}

.url-block .url {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: var(--content-max-width);
	white-space: nowrap;
	font-size: 1rem;
	line-height: 2rem;
	margin-left: 1rem;
	padding: .5rem;
}

.live-crawling-header {
	background: linear-gradient(to right, var(--crawler-section-color), var(--crawler-section-secondary-color));
	color: var(--secondary-color);
	padding: 1.5rem;
	border-radius: 10px;
	margin-bottom: 1.5rem;
}

.url-block.message {
	margin-bottom: .5rem;
	border-radius: 5px;
	background-color: var(--secondary-color);
	line-height: 2rem;
	display: flex;
}
