.credentials {
	margin: 0 auto;
}

.credentials #header {
	margin-bottom: calc(var(--line-height) * 4);
}

.credentials #footer {
	text-align: center;
}

.credentials .box {
	width: 32rem;
	margin: 0 auto;
}