#footer {
	padding: 3rem 0;
}

#footer a {
	border: 0;
	margin-right: 1.5rem;
}

@media only screen and (max-width: 820px) {
	#footer {
		text-align: center;
	}

	#footer a {
		display: block;
		margin: 1.5rem 0;
	}
}
