#footer {
	padding: calc(var(--line-height) * 2) 0;
}

#footer a {
	border: 0;
	margin-right: var(--line-height);
}

@media only screen and (max-width: 820px) {
	#footer {
		text-align: center;
	}

	#footer a {
		display: block;
		margin: var(--line-height) 0;
	}
}
