#main {
	min-height: 100%;
	max-width: 1500px;
	margin: 0 auto;
}

.content {
	box-sizing: border-box;
	padding: 3rem;
}

.content-s {
	padding: 1rem 3rem;
}

.inline {
	display: inline;
}

.content-centered {
	display: flex;
	align-items: center;
	height: 100%;
}

.panel {
	min-height: 45rem;
	overflow: hidden;
}

.project-title {
	display: flex;
	align-items: center;
	padding: 3rem 3rem 0 3rem;
}

.project-title h2 {
	font-size: 1.2rem;
	margin: 0;
	font-weight: 400;
	margin-left: 1rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	flex: 1;
}

.bg-alert {
	background-color: var(--row-issue-color);
}

.bg-success {
	background-color: var(--crawler-section-secondary-color);
}

.aligned {
	text-align: center;
	justify-content: center;
}

.action {
	padding-bottom: 5rem ;
	line-height: 3rem;
	font-size: 1.4rem;
	background-color: var(--main-bg-color);
}

.action a {
	font-weight: 300;
}

.url {
	word-wrap: break-word;
	font-weight: 300;
	overflow:hidden;
}

.menu {
	float: right;
	line-height: 2rem;
}

.menu a {
	font-decoration: none;
	color: var(--primary-color);
	margin-left: 1rem;
}

.col-actions a.project-crawl {
	padding: 3rem 1.5rem;
	background-color: var(--secondary-color);
	border-bottom: none;
	flex: 1;
}

.col-actions a.main {
	box-sizing: border-box;
	padding: 2rem 0;	
	flex-grow: 1;
}

.main-action {
	background-color: var(--main-section-color);
	height: 100%;
	padding: 3rem;
	box-sizing: border-box;
	text-align: center;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.main-action a:hover svg{	
	animation-name: spin;
	animation-duration: 500ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
	
.project-delete {
	display: inline-flex;
	left:1.5rem;
	border: 0;
	margin-top: 1rem;
}

.project-delete span {
	margin-left: 1rem;
}

.crawler-item {
	display: flex;
	align-items: center;
	height: 24px;
}

.crawler-item span {
	margin-left: 1rem;
}

span.alert {
	background-color: var(--alert-color);
	color: var(--secondary-color);
	padding: .2rem .5rem;
	font-weight: 300;
	font-size: .8rem;
}

p.error {
	color: var(--tertiary-section-color);
}

.label {
	margin-left: 1rem;
	font-weight: 400;
}

.links-box {
	border-bottom: 1px dotted var(--primary-color);
}

h2.title {
	margin-bottom:1.5rem;
}

@media only screen and (max-width: 820px) {
	.panel {
		min-height: 60rem;
		width: 100%;
	}

	.content {
		padding: 1.5rem 1rem;
	}

	.status-column {
		border-top: 1px dotted var(--primary-color);
	}
	
	.main-action {
		border-top: 1px dotted var(--primary-color);
		padding: 1.5rem 1rem;
		box-sizing: border-box;
		text-align: left;
	}
	

	.project-title svg {
		display: none;
	}
	
	.menu {
		display: block;
		float: none;
	}

	.menu a {
		display: block;
		border-bottom: none;
		margin: 1.5rem 0 0 0;
	}
}