.box .content.intro {
	padding: calc(calc(var(--line-height) * 6) - 1px) 0 calc(var(--line-height) * 6) 0;
	font-size: 1.5rem;
	font-weight:300;
}

.intro svg {
	fill: red;
	margin-bottom: -3px;
}

.intro p {
	font-size: 1rem;
	margin-top: var(--line-height);
}

@media only screen and (max-width: 820px) {
	.box .content.intro {
		padding: calc(calc(var(--line-height) * 2) - 1px) 0 calc(var(--line-height) * 2) 0;
	}
}