.intro {
	padding: 9rem 0;
	font-size: 1.5rem;
	font-weight:300;
}

.intro svg {
	fill: red;
	margin-bottom: -3px;
}

.intro p {
	font-size: 1rem;
	margin-top: .5rem;
}

@media only screen and (max-width: 820px) {
	.intro {
		padding: 6rem .5rem;
	}
}