@media only screen and (max-width: var(--small-screen)) {
	.flex-container {
		display: block;
	}
	.project-add-col {
		width: auto;
		padding: 1rem;
	}
	.project-add-col:nth-child(2) {
		padding-left: 1rem;
	}
	input {
		width: auto;
	}
	.flex {
		display: block;
	}
	.crawler-item {
		margin-bottom: 1rem;
		height: auto;
		padding: .5rem 0;
	}
}