@media only screen and (max-width:800px) {
	.project, .project .col {
		display: block;
		width: 100%;
		padding: .5rem;
	}
	.project .col:first-child{
		margin-bottom: 1.5rem;
	}
	.project-add-button {
		width: auto;
		padding: .5rem;
		margin-right: 0;
		display: flex;
		text-align:center;
		align-items: center;
	}
	.project-add-button p {
		margin-left: 1rem;
		margin-top: 0;
	}
	.flex-container {
		display: block;
	}
	.project-add-col {
		width: auto;
		padding: 1rem;
	}
	.project-add-col:nth-child(2) {
		padding-left: 1rem;
	}
	input {
		width: auto;
	}
	.flex {
		display: block;
	}
	.legend {
		width: auto;
		margin-bottom: 1rem;
	}
	.legend:nth-child(1) {
		margin-right: 0;
	}
	.legend:nth-child(3) {
		margin-left: 0;
	}
	.chart-col {
		width: auto;
	}
	.crawler-container {
		padding: 1rem;
	}
	.crawler-layout {
		display: block;
	}
	.crawler-col {
		width: auto;
	}
	.crawler-item {
		margin-bottom: 1rem;
		height: auto;
		padding: .5rem 0;
	}
	.issue-container {
		display: block;
	}
	.issue-col, .issue-col:nth-child(1) {
		width: auto;
	}
	.issue-links {
		padding-left: 0;
	}
	.url-header {
		display: block;
	}
	.url-header .col1,
	.url-header .url-button,
	.url-header .details-container {
		width: auto;
		text-overflow: none;
		white-space: normal;
	}
	.url-header .col1 h2 {
		line-height: 1.5rem;
	}
	.url-header .url-button,
	.url-header .details-container {
		margin-top: 1rem;
	}
	.url-list li {
		display: block;
	}
	.url-list li.url {
		padding: 0.5rem 1rem;
		word-wrap: break-word;
	}
	.url-list div:nth-child(1) {
		width: 100%;
	}
	.url-list div:nth-child(2) {
		text-align: left;
		width: 100%;
	}
	url-detail {
		display:block;
	}
	.url-detail div:nth-child(1) {
		width: 100%;
	}
	.url-detail div:nth-child(2) {
		width: 100%;
	}
}