.rtl {
    direction: rtl;
    text-align: right;
}

.rtl .box .col {
    border-left: 1px dotted var(--primary-color);
    border-right: none;
}

.rtl .box .col:last-child {
    border-left: none;
}

.rtl .menu {
    float: left;
}

.rtl .project-title h2 {
    margin-left: none;
    margin-right: 1rem; 
}

.rtl .crawler-item span {
	margin-left: 0;
    margin-right: 1rem;
}

.rtl .col.borderless {
    border: none;
}

.rtl .label {
    margin-right: 1rem;
    margin-left: none;
}

.rtl .issues-critical-title {
	border-right: 1rem solid var(--issues-critical-highlight);
    border-left: none;
}

.rtl .issues-alert-title {
	border-right: 1rem solid var(--issues-alert-highlight);
    border-left: none;
}

.rtl .issues-warning-title {
	border-right: 1rem solid var(--issues-warning-highlight);
    border-left: none;
}

.rtl .issues-passed-title {
    border-left: none;
    border-right: 1rem solid var(--issues-passed-highlight);
}


.rtl .project-title svg {
    transform: scaleX(-1); 
}

.rtl .project-crawl svg {
    transform: scaleX(-1);
}

.rtl .external_link a {
    margin-left: 0;
    margin-right: .5rem;
    transform: scaleX(-1);
}