.toggle-container {
	display:flex;
	margin-top: var(--line-height);
}
.toggle-container:first-child {
	margin-top: 0;
}

.toggle-help {
	display: block;
	padding-left: 4rem;
}
.toggle {
	--width: 3rem;
	--height: 1.5rem;
	position: relative;
	display: inline-block;
	width: var(--width);
	height: var(--height);

	border-radius: var(--height);
	cursor: pointer;
}

.toggle input {
	display: none;
}

.toggle .slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: var(--height);
	background-color: var(--dark-opacity-color);
	transition: all 0.1s ease-in-out;
}

.toggle .slider::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: calc(var(--height));
	height: calc(var(--height));
	border-radius: calc(var(--height) / 2);
	background-color: var(--secondary-color);
	box-shadow: 0px 1px 2px var(--dark-opacity-color);
	transition: all 0.1s ease-in-out;
}

.toggle input:checked+.slider {
	background-color: var(--secondary-section-color);
}

.toggle input:checked+.slider::before {
	transform: translateX(calc(var(--width) - var(--height)));
}