@font-face {
  font-family: 'Fira Code';
  src: url('/resources/FiraCode-Light.woff2') format('woff2'),
    url("/resources/FiraCode-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Code';
  src: url('/resources/FiraCode-Regular.woff2') format('woff2'),
    url("/resources/FiraCode-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Code';
  src: url('/resources/FiraCode-SemiBold.woff2') format('woff2'),
    url("/resources/FiraCode-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	font-style: bold;
	font-weight: 600;
	src: url('/resources/raleway-extrabold.woff') format('woff');
}

:root {
	--main-bg-color: rgb(248, 248, 248);
	--light-bg-color: rgb(252,252,252);
	--primary-color: black;
	--secondary-color: white;
	--content-max-width: 80ch;
	--main-fontfamily: 'Fira Code', monospace, monospace;
}

/** BASE **/

html, body {
	min-height: 100%;
}
body {
	font-display: fallback;
	font-family: var(--main-fontfamily);
	line-height: 1.6rem;
	font-size: 1rem;
	padding: 0 0 3rem 0;
	background-color: var(--main-bg-color);
	margin:0;
}

ul {
	margin: 0;
}

a {
	color: var(--primary-color);
	text-decoration: none;
	border-bottom: 1px dotted var(--primary-color);
}

input {
	font-size: inherit;
	border: 1px solid var(--primary-color);
	padding: .5rem;
	display: block;
	margin-bottom: 1rem;
	width: 20rem;
	background-color: var(--light-bg-color);
}
input[type="submit"] {
	background-color: var(--light-bg-color);
	cursor: pointer;
	width: auto;
	margin-left: 0;
}

input[type="checkbox"] {
	-webkit-appearance: none;
	background-color: var(--light-bg-color);
	border: 1px solid var(--primary-color);
	padding: .5rem;
	width: 1rem;
	height: 1rem;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin: 0;
}

input[type="checkbox"]:checked {
	color: var(--primary-color);
}
input[type="checkbox"]:checked:after {
	content: '\2714';
	position: absolute;
	top: -2px;
	left: 3px;
	color: var(--primary-color);
}

label {
	display: block;
}
label.checkbox {
	display: inline-block;
	margin-left: .5rem;
}
small {
	font-weight: 300;
	font-size: .8rem;
}
form {
	margin-bottom: 3rem;
}
h2 {
	margin-bottom: .5rem;
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 1.2rem;
}

.action {
	margin-bottom: 5rem;
	line-height: 1.4rem;
	font-size: 1.4rem;
}
.action a {
	font-weight: 300;
}
.url {
	word-wrap: break-word;
	font-weight: 300;
	font-size: .8rem;
}


/** CLASSES **/


#header {
	margin: 3rem 0 5rem 0;
}

.content { padding: 0 3rem; }

.logo {
	background-color: var(--primary-color);
	font-family: "Raleway", Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: .1rem;
	line-height: 2rem;
	margin: 0;
	padding: .5rem 6rem .5rem .5rem;
	text-decoration: none;
}
.logo a {
	color: var(--secondary-color);
	text-decoration: none;
	font-size: 1rem;
	font-weight: 600;
	background-color: var(--primary-color);
}
.logo a:hover {
	text-decoration: none;
}

.title {
	font-weight: 600;
}

.logout {
	float: right;
	line-height: 2rem;
	font-weight: 300;
}
.logout a {
	font-decoration: none;
	color: black;
}
.url-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.url-list li {
	background-color: white;
	margin-bottom: 0rem;
	padding: 1rem 1rem;
	border-top: 1px solid #f0f0f0; ;
	border-left: 1px solid #f0f0f0; ;
	box-shadow: 5px 5px #f0f0f0;
	border-radius: 5px;
}
.url-list li:nth-child(even) {
	background-color: #f7fbfc;
}
.url-list li.url {
	padding: 0.5rem 1rem;
	word-wrap: break-word;
}
.url-list a {
	color: var(--primary-color);
	text-decoration: none;
	font-weight: 300;
}
.url-list .description {
	font-size: .8rem;
	color: #333;
	margin-top: .5rem;
}
.project {
	padding: 0;
	margin-bottom: 3rem;
	font-weight: 300;
	background-color: white;
	box-shadow: 5px 5px #f0f0f0;
	border-top: 1px solid #f0f0f0;
	border-left: 1px solid #f0f0f0;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 3rem;
}
.project p {
	margin-bottom: 0;
}
.project li {
	font-weight: 300;
}
.project-title {
	font-size: 1.2rem;
	margin: 0 0 .2rem 0;
	font-weight: 400;
}
.project-title a {
	color: var(--primary-color);
}

.project-buttons {
	margin-top: 3rem;
}
.issues-buttons {
	margin-top: 0;
}
.issues-buttons .button, .project-buttons .button, .button {
	background-color: #79C691;
	color: white;
	border: 0;
	box-shadow: 5px 5px transparent;
	border-radius: 5px;
}

.issues-buttons .button, .button {
	background-color: white;
	color: #222;
	border: 1px dotted #222;
}
.issues-buttons .button:hover, .project-buttons .button:hover, .button:hover {
	background-color: #79C691;
	color: white;
	border: 0;
		box-shadow: 5px 5px #f0f0f0;
}

.issues-buttons .button:hover, .button:hover {
	background-color: white;
	color: #222;
	border: 1px solid #222;
}
.col {
		box-sizing: border-box;
}
.col:nth-child(odd) {
	padding-right: 1.5rem;
}

.col:nth-child(even) {
	padding-left: 1.5rem;

}


.link-out {
	border-bottom: none;
}
.pagereport-title {
	margin-bottom: 3rem;
}
.pagereport-errors {
	margin-bottom: 0;
}
.issues {
	margin-bottom: 3rem;
	font-weight: 300;
	background-color: white;
	border-radius: 5px;
	box-shadow: 5px 5px #f0f0f0;
	box-sizing: border-box;
}
.issue-description {
	padding: 0 2.5rem .5rem 2.5rem;
}
.flex-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.flex {
	display: flex;
	flex-direction: row;
	margin-bottom: 3rem;
}
.col {
	padding: 1.5rem 3rem;
	width: 50%;
	padding:0rem
}
.col h2 {
	width: 10rem;
	display: inline-block;
	text-align: center;
	
}
.col-s {
	width: 11rem;
}
.page-details {
	font-weight: 300;
}
.col li {
	font-weight: 300;
	font-size: .9rem;
}
a.button {
	border: 1px dotted var(--primary-color);
	padding: .5rem 1rem;
}
a.button:hover {
	background-color: white;
	border: 1px solid var(--primary-color);
}

.pagination {
	margin: 3rem 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.pagination .prev, .next {
	width: 50%;
}
.next {
	text-align: right;
}

.issues svg {
	vertical-align: baseline;
	transform: translateY(2px);
}

.issues h2 {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: .5rem 0 .5rem .5rem;
	line-height: 1.6rem;
}

.issues h2.error {
	background-color: #fecdc7;
	border-left: 2rem solid #FD7B6A;
}

.issues h2.alert {
	background-color: #faf1ca;
	border-left: 2rem solid #F7E497;
}

.issues h2.notice {
	background-color: #d3ebf1;
	border-left: 2rem solid #2C7D91;
}

span.alert {
	background-color: #E17E56;
	color: white;
	padding: .2rem .5rem;
	border-radius: 5px;
	font-weight: 300;
	font-size: .8rem;
}

.tabs {
	margin-bottom: 0;
	background-color: white;
	padding: 1.5rem 3rem;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.tabs ul {
	padding:0;
}
.tabs ul li {
	display: inline-block;
	list-style-type: none;
	padding: 0;
}

.button.active {
	background-color: black;
	color: white;
}

.button.active:hover {
	background-color: black;
	color: white;
}

.list-header {
	font-weight: 600;
	padding: 1.5rem 3rem;
	margin: 0;
	background-color: #d3ebf1;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.action-buttons {
	margin-bottom: 3rem;
	margin-top: .5rem
}

.box {
	border-radius: 5px;
	box-shadow: 5px 5px #f0f0f0;
	border-top: 1px solid #f0f0f0;
	border-left: 1px solid #f0f0f0;
}

.report-box {
	background-color: white;
	padding: 1.5rem 3rem;
	border-radius: 5px;
	box-shadow: 5px 5px #f0f0f0;
	border-top: 1px solid #f0f0f0;
	border-left: 1px solid #f0f0f0;
}

.center {
	text-align: center;
}

/** CHARTS **/

.chart-block {
	margin-bottom: 3rem;
}

.chart-container {
	background-color: white; padding: 3rem 1.5rem; border-radius: 5px;
	box-shadow: 5px 5px #f0f0f0;
	border-top: 1px solid #f0f0f0;
	border-left: 1px solid #f0f0f0;
}

.chart-container h2 {margin:0;}

.chart {
	margin-top: 1rem;
	border-radius: 50%;
	width: 10rem;
	height: 10rem;
	position: relative;
}

.chart:after {
	position: absolute;
	background-color: var(--main-bg-color);
	top: 3rem;
	bottom: 3rem;
	left: 3rem;
	right: 3rem;
	content: " ";
	border-radius: 50%;
}

.chart-list {
	list-style: none;
	margin-top: 1.5rem;
}
.chart-list li {
	padding-left: .5rem;
	line-height: 1rem;
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: .5rem;
	border-left: 1rem solid transparent;
}
.chart-list li:nth-child(1) {border-left: 1rem solid #C8AECC;}
.chart-list li:nth-child(2) {border-left: 1rem solid #EE9FAF;}
.chart-list li:nth-child(3) {border-left: 1rem solid #D983AD;}
.chart-list li:nth-child(4) {border-left: 1rem solid #524766;}

.status-list li:nth-child(1) {border-left: 1rem solid #638179;}
.status-list li:nth-child(2) {border-left: 1rem solid #B1AC75;}
.status-list li:nth-child(3) {border-left: 1rem solid #EBDAA1;}
.status-list li:nth-child(4) {border-left: 1rem solid #DF7A62;}

/** PRINT **/

@media print
{
	* {-webkit-print-color-adjust:exact;}
	body, .chart:after {background-color: white;}
	.button {display: none;}
}