{{ define "head" }}
<html>
<head>
	<title>
		{{ if eq .PageTitle "PROJECTS_VIEW"}}
			Projects
		{{ end }}

		{{ if eq .PageTitle "ADD_PROJECT"}}
			Add project
		{{ end }}

		{{ if eq .PageTitle "ISSUES_VIEW"}}
			Project Issues
		{{ end }}

		{{ if eq .PageTitle "ISSUES_DETAIL"}}
			Issues Detail
		{{ end }}

		{{ if eq .PageTitle "RESOURCES_VIEW"}}
			Page Resources
		{{ end }}

		{{ if eq .PageTitle "SIGNUP_VIEW"}}
			Sign Up
		{{ end }}

		{{ if eq .PageTitle "SIGNIN_VIEW"}}
			Sign In
		{{ end }}

		- Lenkrr
	</title>
	<link rel="stylesheet" href="/resources/style.css">
</head>
<body>
	<div id="header">
		<span class="logo"><a href="/">lenkrr</a></span>
		{{ if .User.Id }}<span class="logout"><a href="/signout">Logout</a></span>{{ end }}
	</div>
{{ end }}