{{ define "head" }}
<html>
<head>
	<title>Reports</title>
	<style>
		body {
			font-family: monospace, monospace;
			font-size: 1rem;
		}
		.logo a {
			color: black;
			font-weight: bold;
			text-decoration: none;
			font-size: 1.5rem;
		}
		.logo a:hover {
			color: black;
			text-decoration: none;
		}
	</style>
</head>
<body>
	<div id="header">
		<span class="logo"><a href="/">SEO</a></span>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/crawl">Crawl</a></li>
		</ul>
	</div>
{{ end }}