{{ template "head" . }}
<h1>Crawl</h1>

<p><b>URL:</b> {{ .Crawl.URL }}
<p><b>Crawl started:</b> {{ .Crawl.Start.Format "Jan 02, 2006" }}</p>
<p><b>Crawl ended:</b> {{ .Crawl.End.Format "Jan 02, 2006" }}</p>
<p><b>Total time:</b> {{ .Crawl.TotalTime }}
	
<p><b>Total crawled pages: </b>{{ .TotalCount }}</p>

<p><b>Total crawled by media type: </b></p>
{{ template "list" .MediaCount }}

<p><b>Total crawled by status code: </b></p>
{{ template "list" .StatusCodeCount }}

<hr>

<h1>ISSUES</h1>

<h1>Empty Title</h1>
{{ if .EmptyTitle }}
	{{ template "url_list" .EmptyTitle }}
{{ else }}
	Ok
{{ end }}

<h1>Short Title</h1>
{{ if .ShortTitle }}
	{{ template "url_list" .ShortTitle }}
{{ else }}
	Ok
{{ end }}

<h1>Long Title</h1>
{{ if .LongTitle }}
	{{ template "url_list" .LongTitle }}
{{ else }}
	Ok
{{ end }}

<h1>Duplicated Title</h1>
{{ if .DuplicatedTitle }}
	{{ template "url_list" .DuplicatedTitle }}
{{ else }}
	Ok
{{ end }}

<hr>

<h1>Empty Description</h1>
{{ if .EmptyDescription }}
	{{ template "url_list" .EmptyDescription }}
{{ else }}
	Ok
{{ end }}

<h1>Short Description</h1>
{{ if .ShortDescription }}
	{{ template "url_list" .ShortDescription }}
{{ else }}
	Ok
{{ end }}

<h1>Long Description</h1>
{{ if .LongDescription }}
	{{ template "url_list" .LongDescription }}
{{ else }}
	Ok
{{ end }}

<h1>Duplicated Description</h1>
{{ if .DuplicatedDescription }}
	{{ template "url_list" .DuplicatedDescription }}
{{ else }}
	 Ok
{{ end }}

<hr>

{{ template "footer" . }}