{{ template "head" . }}

<h1 class="title">
{{ if eq .Eid "ERROR_50x" }}Pages are throwing errors{{ end }}
{{ if eq .Eid "ERROR_40x" }}Pages are missing{{ end }}
{{ if eq .Eid "ERROR_30x" }}Pages are redirecting somere else{{ end }}
{{ if eq .Eid "ERROR_DUPLICATED_TITLE" }}This pages have duplicate title tags{{ end }}
{{ if eq .Eid "ERROR_LONG_TITLE" }}This pages have long titles{{ end }}
{{ if eq .Eid "ERROR_SHORT_TITLE" }}Page titles are too short{{ end }}
{{ if eq .Eid "ERROR_EMPTY_TITLE" }}Pages with empty or missing title{{ end }}
{{ if eq .Eid "ERROR_EMPTY_DESCRIPTION" }}Pages with empty or missing description{{ end }}
{{ if eq .Eid "ERROR_SHORT_DESCRIPTION" }}Pages with short description{{ end }}
{{ if eq .Eid "ERROR_LONG_DESCRIPTION" }}Pages with long description{{ end }}
{{ if eq .Eid "ERROR_DUPLICATED_DESCRIPTION" }}Pages with duplicate description tags{{ end }}
{{ if eq .Eid "ERROR_LITTLE_CONTENT" }}Pages with little content{{ end }}
{{ if eq .Eid "ERROR_IMAGES_NO_ALT" }}Pages containing images with no alt attribute{{ end }}
{{ if eq .Eid "ERROR_REDIRECT_CHAIN" }}Pages redirecting to pages redirecting to pages{{ end }}
{{ if eq .Eid "ERROR_NO_H1" }}Pages with no H1 heading title{{ end }}
{{ if eq .Eid "ERROR_NO_LANG" }}Pages with no language attribute{{ end }}
{{ if eq .Eid "ERROR_HTTP_LINKS" }}Links from pages using HTTPS to pages using HTTP{{ end }}
{{ if eq .Eid "ERROR_HTTP_LINKS" }}Pages containing images with no alt attribute{{ end }}
</h1>
<div class="action">
	<a href="/issues?cid={{ .Cid }}">&larr; Back to issues</a>
</div>


<div class="content">
{{ $cid := .Cid }}
{{ $eid := .Eid }}
{{ if .PageReports }}
	<ul class="url-list">
	{{ range .PageReports }}
		<li>
			<div>
				{{ if .Title }}<b><a href="/resources?cid={{ $cid }}&rid={{ .Id }}&eid={{ $eid }}">{{ .Title }}</a></b><br />{{ end }}
				<a href="/resources?cid={{ $cid }}&rid={{ .Id }}&eid={{ $eid }}">{{ .URL }}</a><br>
				{{ if .Description }}<div class="description">{{ .Description }}</div>{{ end }}
			<div>
		</li>
	{{ end }}
	</ul>
{{ else }}
	<p><b>Everything is ok</b></p>
{{ end }}
</div>
{{ template "footer" . }}