{{ template "head" . }}

{{ with .Data }}
<div class="content">
	<div class="action">
		<a href="/">Projects</a> /
		<a href="/issues?cid={{ .Cid }}">{{ .Project.Host }}</a> /
		<span class="title">
			{{ if eq .Eid "ERROR_50x" }}Status 50x{{ end }}
			{{ if eq .Eid "ERROR_40x" }}Status 40x{{ end }}
			{{ if eq .Eid "ERROR_30x" }}Status 30x{{ end }}
			{{ if eq .Eid "ERROR_DUPLICATED_TITLE" }}Duplicate Title{{ end }}
			{{ if eq .Eid "ERROR_LONG_TITLE" }}Long title{{ end }}
			{{ if eq .Eid "ERROR_SHORT_TITLE" }}Short title{{ end }}
			{{ if eq .Eid "ERROR_EMPTY_TITLE" }}Missing title{{ end }}
			{{ if eq .Eid "ERROR_EMPTY_DESCRIPTION" }}Missing description{{ end }}
			{{ if eq .Eid "ERROR_SHORT_DESCRIPTION" }}Short description{{ end }}
			{{ if eq .Eid "ERROR_LONG_DESCRIPTION" }}Long description{{ end }}
			{{ if eq .Eid "ERROR_DUPLICATED_DESCRIPTION" }}Duplicate description{{ end }}
			{{ if eq .Eid "ERROR_LITTLE_CONTENT" }}Little content{{ end }}
			{{ if eq .Eid "ERROR_IMAGES_NO_ALT" }}No alt attribute{{ end }}
			{{ if eq .Eid "ERROR_REDIRECT_CHAIN" }}Redirect chain{{ end }}
			{{ if eq .Eid "ERROR_NO_H1" }}Missing H1{{ end }}
			{{ if eq .Eid "ERROR_NO_LANG" }}Missing language attribute{{ end }}
			{{ if eq .Eid "ERROR_HTTP_LINKS" }}HTTPS to HTTP{{ end }}
			{{ if eq .Eid "ERROR_HREFLANG_RETURN" }}Missing hreflang{{ end }}
			{{ if eq .Eid "ERROR_TOO_MANY_LINKS" }}Too Many Links{{ end }}
			{{ if eq .Eid "ERROR_INTERNAL_NOFOLLOW" }}Internal nofollow links{{ end }}
		</span>
	</div>
</div>

<div class="content">
{{ $cid := .Cid }}
{{ $eid := .Eid }}
{{ $pp := .PreviousPage }}
{{ $np := .NextPage }}
{{ if .PageReports }}
	<ul class="url-list">
	{{ range .PageReports }}
		<li>
			<div>
				{{ if .Title }}{{ .Title }}<br />{{ end }}
				<a href="/resources?cid={{ $cid }}&rid={{ .Id }}&eid={{ $eid }}" class="url">{{ .URL }}</a>
			<div>
		</li>
	{{ end }}
	</ul>
	<div class="pagination">
		<div class="prev">
		{{ if $pp }}
			<a href="/issues/view?cid={{ $cid }}&eid={{ $eid }}&p={{ $pp }}">← previous page</a>
		{{ end }}
		</div>
		<div class="next">
		{{ if $np }}
			<a href="/issues/view?cid={{ $cid }}&eid={{ $eid }}&p={{ $np }}">next page →</a>
		{{ end }}
		</div>
{{ else }}
	<p><b>Everything is ok</b></p>
{{ end }}
</div>

{{ end }}
{{ template "footer" . }}