{{ template "head" . }}

	<div class="content">
		<h1 class="title">Advanced account</h1>
		<div class="action">
			<a href="/" style="font-size: 1rem">← Back</a>
		</div>
	</div>

	<div class="content">
		{{ if .User.StripeSessionId.Valid }}
		<h2>Manage your account billing details</h2>
		<p>Manage your billing details or cancel your account</p>
		<form action="/customer-portal" method="POST">
			<input type="hidden" name="sessionId" id="sessionId" value="{{ .User.StripeSessionId.String }}"/>
			<button class="button">Manage</button>
		</form>
		{{ end }}
	</div>

{{ template "footer" . }}
