{{ define "pagereport" }}

	<div class="report-block" {{ if ne .Tab "internal" }} style="display: none" {{end }}>
	{{ if .PageReport.Links }}
		<ul class="url-list">
			{{ range .PageReport.Links }}
			<li>
				{{ if .Text }}{{ .Text }}<br/>{{ end }}
				<span class="url">{{ .URL }}</span>
				{{ if .NoFollow }}<br><span class="alert"><small>nofollow</small></span>{{ end }}
			</li>
			{{ end }}
		</ul>
	{{ else }}
		<p style="text-align:center"><small>There are no internal links in this page.</small></p>
	{{ end }}
	</div>

	<div class="report-block" {{ if ne .Tab "external" }} style="display:none"{{ end }}>
	{{ if .PageReport.ExternalLinks }}
		<ul class="url-list">
			{{ range .PageReport.ExternalLinks }}
			<li>
				{{ if .Text }}{{ .Text }} <br> {{ end }}
				<span class="url">{{ .URL }}</span>
				{{ if .NoFollow }}<br><span class="alert"><small>nofollow</small></span>{{ end }}
			</li>
			{{ end }}
		</ul>
	{{ else }}
		<p style="text-align:center"><small>There are no external links in this page.</small></p>
	{{ end }}
	</div>

	<div class="report-block" {{ if ne .Tab "images" }} style="display:none"{{ end }}>
	{{ if .PageReport.Images }}
		<ul class="url-list">
			{{ range .PageReport.Images }}
			<li>
				{{ if .Alt}}{{ .Alt }}<br>{{ end }}
				<span class="url">{{ .URL }}</span>
				{{ if not .Alt}}<br><span class="alert">Missing or empty alt attribute</span>{{ end }}
			</li>
			{{ end }}
		</ul>
	{{ else }}
		<p style="text-align:center"><small>There are no images in this page.</small></p>
	{{ end }}
	</div>

	<div class="report-block" {{ if ne .Tab "scripts" }}style="display:none"{{ end }}>
	{{ if .PageReport.Scripts }}
		<ul class="url-list">
			{{ range .PageReport.Scripts }}
			<li class="url">{{ . }}</li>
			{{ end }}
		</ul>
	{{ else }}
		<p style="text-align:center"><small>There are no scripts in this page.</small></p>
	{{ end }}
	</div>

	<div class="report-block" {{ if ne .Tab "styles" }} style="display:none"{{ end }}>
	{{ if .PageReport.Styles }}
		<ul class="url-list">
			{{ range .PageReport.Styles }}
			<li class="url">{{ . }}</li>
			{{ end }}
		</ul>
	{{ else }}
		<p style="text-align:center"><small>There are no styles in this page.</small></p>
	{{ end }}
	</div>

{{ end }}