{{ define "pagereport" }}

	<a name="internal"></a>
	<div class="report-block">
		<h2>Internal Links</h2>
	{{ if .Links }}
		<ul class="url-list">
			{{ range .Links }}
			<li>
				{{ if .Text }}{{ .Text }}<br/>{{ end }}
				<span class="url">{{ .URL }}</span>
			</li>
			{{ end }}
		</ul>
	{{ else }}
		<small>There are no internal links in this page.</small>
	{{ end }}
		<div class="action"><a href="#menu">↑ top</a></div>
	</div>

	<a name="external"></a>
	<div class="report-block">
		<h2>External Links:</h2>
	{{ if .ExternalLinks }}
		<ul class="url-list">
			{{ range .ExternalLinks }}
			<li>
				{{ if .Text }}{{ .Text }} <br> {{ end }}
				<span class="url">{{ .URL }}</span>
			</li>
			{{ end }}
		</ul>
	{{ else }}
		<small>There are no external links in this page.</small>
	{{ end }}
		<div class="action"><a href="#menu">↑ top</a></div>
	</div>

	<a name="images"></a>
	<div class="report-block">
		<h2>Images</h2>
	{{ if .Images }}
		<ul class="url-list">
			{{ range .Images }}
			<li>
				{{ if .Alt}}{{ .Alt }} <br>{{ end }}
				<span class="url">{{ .URL }}</span>
			</li>
			{{ end }}
		</ul>
	{{ else }}
		<small>There are no images in this page.</small>
	{{ end }}
		<div class="action"><a href="#menu">↑ top</a></div>
	</div>

	<a name="hreflang"></a>
	<div class="report-block">
		<h2>Hreflang</h2>
	{{ if .Hreflangs }}
		<ul class="url-list">
			{{ range .Hreflangs }}
			<li>
				{{ if .Lang }}{{ .Lang }} <br/>{{ end }}
				<span class="url">{{ .URL }}</span>
			</li>
			{{ end }}
		</ul>
	{{ else }}
		<small>There are no hreflang links in this page.</small>
	{{ end }}
		<div class="action"><a href="#menu">↑ top</a></div>
	</div>

	<a name="scripts"></a>
	<div class="report-block">
		<h2>Scripts</h2>
	{{ if .Scripts }}
		<ul class="url-list">
			{{ range .Scripts }}
			<li class="url">{{ . }}</li>
			{{ end }}
		</ul>
	{{ else }}
		<small>There are no scripts in this page.</small>
	{{ end }}
		<div class="action"><a href="#menu">↑ top</a></div>
	</div>

	<a name="styles"></a>
	<div class="report-block">
		<h2>Styles</h2>
	{{ if .Styles }}
		<ul class="url-list">
			{{ range .Styles }}
			<li class="url">{{ . }}</li>
			{{ end }}
		</ul>
	{{ else }}
		<small>There are no styles in this page.</small>
	{{ end }}
		<div class="action"><a href="#menu">↑ top</a></div>
	</div>

{{ end }}