{{ template "head" . }}

{{ with .Data }}
<div class="content">
<a name="menu"></a>
<h1 class="title">Page Report</h1>
<div class="action">
	<a href="/issues/view?cid={{ .Cid }}&eid={{ .Eid }}">&larr; Back</a>
</div>
</div>

<div class="content">
	<h2 class="pagereport-title">
		{{ .PageReport.URL }} <a href="{{ .PageReport.URL }}" target="_blank" class="link-out">↗</a>
	</h2>

	<div class="flex">
		<div class="col">
			Jump to:
			<ul>
				<li><a href="#details">Page details</a></li>
				<li><a href="#inlinks">Internal urls linking to this page</a></li>
				<li><a href="#redirects">Redirecting to this page</a></li>
				<li><a href="#internal">This page's internal links</a></li>
				<li><a href="#external">This page's external links</a></li>
				<li><a href="#images">Images in this page</a></li>
				<li><a href="#hreflang">Hreflang links in this page</a></li>
				<li><a href="#scripts">Scripts used by this page</a></li>
				<li><a href="#styles">Styles used on this page</a></li>
			</ul>
		</div>

		<div class="col">
			{{ $cid := .Cid }}
			{{ $eid := .Eid }}
			{{ if .ErrorTypes }}
			This page has:
			<ul class="pagereport-errors">
				{{ range .ErrorTypes }}
				{{ if eq . "ERROR_30x" }}
				<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_30x">Redirected page</a></li>
				{{ end }}
				{{ if eq . "ERROR_40x" }}
				<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_40x">Page not found</a></li>
				{{ end }}
				{{ if eq . "ERROR_50x" }}
				<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_50x">Error loading page</a></li>
				{{ end }}
				{{ if eq . "ERROR_DUPLICATED_TITLE" }}
				<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_DUPLICATED_TITLE">Duplicated title</a></li>
				{{ end }}
				{{ if eq . "ERROR_DUPLICATED_DESCRIPTION" }}
				<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_DUPLICATED_DESCRIPTION">Duplicated description</a></li>
				{{ end }}
				{{ if eq . "ERROR_EMPTY_TITLE" }}
				<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_EMPTY_TITLE">Empty or missing title</a></li>
				{{ end }}
				{{ if eq . "ERROR_SHORT_TITLE" }}
				<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_SHORT_TITLE">Short title</a></li>
				{{ end }}
				{{ if eq . "ERROR_LONG_TITLE" }}
				<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_LONG_TITLE">Long title</a></li>
				{{ end }}
				{{ if eq . "ERROR_EMPTY_DESCRIPTION" }}
				<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_EMPTY_DESCRIPTION">Empty or missing description</a></li>
				{{ end }}
				{{ if eq . "ERROR_SHORT_DESCRIPTION" }}
				<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_SHORT_DESCRIPTION">Short description</a></li>
				{{ end }}
				{{ if eq . "ERROR_LONG_DESCRIPTION" }}
				<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_LONG_DESCRIPTION">Long description</a></li>
				{{ end }}
				{{ if eq . "ERROR_LITTLE_CONTENT" }}
				<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_LITTLE_CONTENT">Little content</a></li>
				{{ end }}
				{{ if eq . "ERROR_IMAGES_NO_ALT" }}
				<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_IMAGES_NO_ALT">Images with no alt attribute</a></li>
				{{ end }}
				{{ if eq . "ERROR_REDIRECT_CHAIN" }}
				<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_REDIRECT_CHAIN">A redirect chain</a></li>
				{{ end }}
				{{ if eq . "ERROR_NO_H1" }}
				<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_NO_H1">Missing H1 heading</a></li>
				{{ end }}
				{{ if eq . "ERROR_HREFLANG_RETURN" }}
				<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_HREFLANG_RETURN">Page referenes an hreflang page that doesn't reference back</a></li>
				{{ end }}
				{{ end }}
				{{ end }}
			</ul>
		</div>
	</div>
	
	<a name="details"></a>
	<div class="report-block">
		<h2>Page details</h2>
		<div class="page-details">
		{{ with .PageReport }}
		<div>Status Code: <small>{{ .StatusCode }}</small><br></div>
		<div>Content Type: <small>{{ .ContentType }}</small><br></div>


		{{ if .Words }}
			<div>Words: <small>{{ .Words }}</small><br></div>
		{{ end }}

		{{ if .Size }}
			<div>Size: <small>{{ .SizeInKB }}KB</small><br></div>
		{{ end }}

		{{ if .Title }}
			<div>Title: <small>{{ .Title }}</small><br></div>
		{{ end }}

		{{ if .Description }}
			<div>Description: <small>{{ .Description }}</small><br></div>
		{{ end }}

		{{ if .Robots }}
			<div>Robots: <small>{{ .Robots }}</small><br></div>
		{{ end }}

		{{ if .RedirectURL }}
			<div>Redirect URL: <small>{{ .RedirectURL }}</small><br></div>
		{{ end }}

		{{ if .Refresh }}
			<div>Refresh: <small>{{ .Refresh }}</small><br></div>
		{{ end }}

		{{ if .Lang }}
			<div>Language: <small>{{ .Lang }}</small><br></div>
		{{ end }}

		{{ if .Canonical }}
			<div>Canonical: <small>{{ .Canonical }}</small><br></div>
		{{ end }}

		{{ if .H1 }}
			<div>H1: <small>{{ .H1 }}</small><br></div>
		{{ end }}

		{{ if .H2 }}
			<div>H2: <small>{{ .H2 }}</small><br></div>
		{{ end }}

		{{ end }}
	</div>
		<div><a href="#menu">↑ top</a></div>
	</div>

	<a name="inlinks"></a>
	<div class="report-block">
		<h2>Incoming Links</h2>
	{{ if .InLinks }}
		<ul class="url-list">
			{{ range .InLinks }}
			<li>
				{{ if .Title }}{{ .Title }}<br/>{{ end }}
				<a href="/resources?cid={{ $cid }}&rid={{ .Id }}&eid={{ $eid }}" class="url">{{ .URL }}</a>
			</li>
			{{ end }}
		</ul>
	{{ else }}
		<small>There are no links to this page.</small>
	{{ end }}
		<div><a href="#menu">↑ top</a></div>
	</div>

	<a name="redirects"></a>
	<div class="report-block">
		<h2>Redirecting to this page</h2>
	{{ if .Redirects }}
		<ul class="url-list">
			{{ range .Redirects }}
			<li>
				{{ if .Title }}{{ .Title }}<br/>{{ end }}
				<a href="/resources?cid={{ $cid }}&rid={{ .Id }}&eid={{ $eid }}" class="url">{{ .URL }}</a>
			</li>
			{{ end }}
		</ul>
	{{ else }}
		<small>There are no redirects to this page.</small>
	{{ end }}
		<div><a href="#menu">↑ top</a></div>
	</div>

	{{ template "pagereport" .PageReport }}
</div>
{{ end }}
{{ template "footer" . }}