{{ template "head" . }}

{{ with .Data }}
<h1 class="title">Resources</h1>
<div class="action">
	<a href="/issues/view?cid={{ .Cid }}&eid={{ .Eid }}">&larr; Back</a>
</div>

<div class="content">
{{ $cid := .Cid }}
<h2>Issues:</h2>
<p>This are the issues found in this page:</p>
<ul>
{{ range .ErrorTypes }}
	{{ if eq . "ERROR_30x" }}
		<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_30x">Redirected page</a></li>
	{{ end }}
	{{ if eq . "ERROR_40x" }}
		<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_40x">Page not found</a></li>
	{{ end }}
	{{ if eq . "ERROR_50x" }}
		<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_50x">Error loading page</a></li>
	{{ end }}
	{{ if eq . "ERROR_DUPLICATED_TITLE" }}
		<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_DUPLICATED_TITLE">Duplicated title</a></li>
	{{ end }}
	{{ if eq . "ERROR_DUPLICATED_DESCRIPTION" }}
		<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_DUPLICATED_DESCRIPTION">Duplicated description</a></li>
	{{ end }}
	{{ if eq . "ERROR_EMPTY_TITLE" }}
		<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_EMPTY_TITLE">Empty or missing title</a></li>
	{{ end }}
	{{ if eq . "ERROR_SHORT_TITLE" }}
		<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_SHORT_TITLE">Short title</a></li>
	{{ end }}
	{{ if eq . "ERROR_LONG_TITLE" }}
		<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_LONG_TITLE">Long title</a></li>
	{{ end }}
	{{ if eq . "ERROR_EMPTY_DESCRIPTION" }}
		<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_EMPTY_DESCRIPTION">Empty or missing description</a></li>
	{{ end }}
	{{ if eq . "ERROR_SHORT_DESCRIPTION" }}
		<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_SHORT_DESCRIPTION">Short description</a></li>
	{{ end }}
	{{ if eq . "ERROR_LONG_DESCRIPTION" }}
		<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_LONG_DESCRIPTION">Long description</a></li>
	{{ end }}
	{{ if eq . "ERROR_LITTLE_CONTENT" }}
		<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_LITTLE_CONTENT">Page with little content</a></li>
	{{ end }}
	{{ if eq . "ERROR_IMAGES_NO_ALT" }}
		<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_IMAGES_NO_ALT">Contains images with no alt attribute</a></li>
	{{ end }}
	{{ if eq . "ERROR_REDIRECT_CHAIN" }}
		<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_REDIRECT_CHAIN">Redirect chain</a></li>
	{{ end }}
	{{ if eq . "ERROR_NO_H1" }}
		<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_NO_H1">Page doesn't have any H1 heading</a></li>
	{{ end }}
	{{ if eq . "ERROR_HREFLANG_RETURN" }}
		<li><a href="/issues/view?cid={{ $cid }}&eid=ERROR_HREFLANG_RETURN">Page referenes an hreflang page that doesn't reference back</a></li>
	{{ end }}
{{ end }}
</ul>

	<h2>Page details</h2>

	{{ with .PageReport }}
	<b>URL:</b> {{ .URL }} (<a href="{{ .URL }}" target="_blank">visit</a>)<br>
	<b>Status code:</b> {{ .StatusCode }}<br>
	
	{{ if .Title }}
		<b>Title:</b> {{ .Title }}<br>
	{{ end }}

	{{ if .Description }}
		<b>Description:</b> {{ .Description }}<br>
	{{ end }}

	{{ if .Robots }}
		<b>Robots:</b> {{ .Robots }}<br>
	{{ end }}

	{{ if .RedirectURL }}
		<b>Redirect URL:</b> {{ .RedirectURL }}<br>
	{{ end }}

	{{ if .Refresh }}
		<b>Refresh:</b> {{ .Refresh }}<br>
	{{ end }}

	<b>Content Type:</b> {{ .ContentType }}<br>
	
	{{ if .Lang }}
		<b>Lang:</b> {{ .Lang }}<br>
	{{ end }}

	{{ if .Canonical }}
		<b>Canonical:</b> {{ .Canonical }}<br>
	{{ end }}

	{{ if .H1 }}
		<b>H1:</b> {{ .H1 }}<br>
	{{ end }}

	{{ if .H2 }}
		<b>H2:</b> {{ .H2 }}<br>
	{{ end }}

	{{ if .Words }}
		<b>Words:</b> {{ .Words }}<br>
	{{ end }}

	{{ if .Size }}
		<b>Size:</b> {{ .SizeInKB }}KB<br>
	{{ end }}
	{{ end }}

	{{ if .InLinks }}
		<h2>Incoming Links:</h2>
		<ul class="url-list">
			{{ range .InLinks }}
			<li>
				{{ if .Title }}<b>{{ .Title }}</b><br/>{{ end }}
				<span class="url">{{ .URL }}</span>
			</li>
			{{ end }}
		</ul>
	{{ end }}

{{ template "pagereport" .PageReport }}
</div>
{{ end }}
{{ template "footer" . }}